[2014-04-22 08:57] jgrumboe opened #1 "Please create tags correspondig to puppet forge"
Hello,
we're trying to add Suse support to this module and for checkout and comparison
it would be easier if you would create tags corresponding to the version number you entered at forge.puppetlabs.com.
Thanks in advance,
Jo

[2014-04-23 10:02] lazyfrosch opened #2 "openldap_password not working on Debian"
Due to slappasswd not being in normal user's path, its in /usr/sbin

Or did I miss something? ;)

[2014-04-23 14:15] #1 closed, assigned to nobody

[2014-04-23 15:58] #2 closed, assigned to nobody

[2014-04-23 16:01] lazyfrosch opened #3 "openldap_password inserting newline in LDIF"
Sorry for one more issue ;)

I just observed this while adding other databases:

[code]

[code]

While enabling puts debug output I noticed a newline in the LDIF data

[code]

So maybe just a missing strip?

When adding a ".strip!" the problem is gone. Not sure if thats the best solution, because I'm no Ruby developer ;)

[2014-04-30 08:27] #3 closed, assigned to nobody

[2014-05-08 22:05] elisiano opened #4 "Invalid parameter provider in server/access.pp and server/database.pp"
Hi,
   I was gonna test this module but then I got stuck because of the following errors. I'm on CentOS 6.4 x86_64 for what it's worth.

[code]

I tried commenting the provider parameter in database.pp and the next error was:

[code]

Commented also that and the error this time was:

[code]

I noticed that in type/openldap_database.rb the provider parameter is not defined.
Unfortunately this is al

[2014-05-12 11:51] #4 closed, assigned to nobody

[2014-05-12 12:07] elisiano opened #5 "openldap::server::access on CentOS 6.4 x86_64"
Hi All,
    after an initial struggle I managed to have a basic database setup.

When I add ACL to the profile (exactly the same snippet as the configuration just with a different domain) I get several errors.

Here's the snippet:

[code]

and here are the errors:

[code]

Please note that external authentication is working:

[code]

Do you have any idea of what's going on?
I wanted to try those c

[2014-05-13 07:05] #5 closed, assigned to nobody

[2014-05-16 14:15] woneill opened #7 "Dependency failures"
Just tried using librarian-puppet to update this module and it's failing because it's searching for domcleal-augeasproviders instead of domcleal/augeasproviders. I made a note on 1b9a21aa8b5dfc83b35225e5827568af750e454e

[2014-05-16 14:25] #7 closed, assigned to nobody

[2014-05-17 08:41] Kentzo opened #8 "Add support for indexes"
I think it would be nice to be able to add indexes in the same way we add access records.

[2014-05-17 08:42] Kentzo opened #9 "Allow to configure ldap, ldapi and ldaps interfaces."
It would be handy to be able to set concrete interfaces and to be able to disable them (e.g. to allow only secured access).

[2014-05-17 08:47] Kentzo opened #10 "Add NEWS"
Currently it's too hard to understand what was changed in the release.

[2014-05-19 10:52] duronrulez opened #11 "Installation fails on ubuntu14.04"
Hello,

Node invocation:
  class { 'openldap::server': }

Puppet says:

SERVER: Failed to parse template openldap/preseed.erb:
  Filepath: /vagrant/puppet/modules/openldap/templates/preseed.erb
  Line: 1
  Detail: undefined method `join' for nil:NilClass
 at /vagrant/puppet/modules/openldap/manifests/server/install.pp:23 on node olt.1

[2014-05-19 13:16] #11 closed, assigned to nobody

[2014-06-04 14:58] Bhuwan opened #13 "stdlib dependency should be > 4.x"
I could be wrong, but I believe the dependency for stdlib should be > 4.x and not 3.x.  The puppet function "any2array" was not introduced until 4.x (and it's being used as part of this module).
thanks,

[2014-06-06 10:18] #13 closed, assigned to nobody

[2014-06-21 15:54] #8 closed, assigned to nobody

[2014-06-23 12:58] #9 closed, assigned to nobody

[2014-06-30 19:31] supriyawishesu opened #17 "not able to install puppet-openldap module in redhat 6.4"
Hi,

I am not able to install your module.It is throwing me error

/opt/puppet/bin/puppet module install camptocamp-openldap
Notice: Preparing to install into /etc/puppetlabs/puppet/modules ...
Notice: Downloading from https://forgeapi.puppetlabs.com ...
Notice: Found at least one version of camptocamp-openldap compatible with PE (3.2.3);
Notice: Skipping versions which don't express PE compatibil

[2014-07-02 15:26] #10 closed, assigned to nobody

[2014-07-10 03:18] feniix opened #18 "what is the best way to manage the ldap data"
I have been playing around with this module and I was looking for an option to manage the data and import the content from an ldif in a repeatable way.

How do you typically deal with that?

[2014-07-25 16:38] hdeadman opened #20 "permissions on some module files are 400 and can't be synced when running from server"
If I run a "find /etc/puppet/modules -perm 400" I get the following list of files that are read-only to the owner only. My puppet server (using apache/passenger) is unable to serve up the files in lib/puppet/type to agents running remotely. I may have my puppet server configured incorrectly (all files under /etc/puppet are owned by root) but I have lots of modules and this is the only one with fil

[2014-08-07 20:53] Kentzo opened #21 "The slapd service is not restarted on interface change."
Looks like slapd should be restarted before interface changes are taken into account.

[2014-08-08 01:16] #21 closed, assigned to nobody

[2014-08-26 13:53] #20 closed, assigned to nobody

[2014-09-02 11:05] azaghal opened #27 "slapd service start-up fails on RHEL 6.4"
The slapd service will fail to start on RHEL 6.4 when using the module to deploy the OpenLDAP server. This happens even with the minimal provided example (on fresh RHEL 6.4 installation):

[code]

Looking at the slapd logs, the following message was reported:

[code]

After looking a bit more into the cause, I was able to determine that the issue is caused by the changes made in /etc/sysconfig/lda

[2014-09-09 16:26] spako opened #28 "Fails to install when using librarian-puppet"
Error that I get:

This is becaues domcleal-augeasproviders_core has seemingly been moved to [herculesteam-augeasproviders_core](https://forge.puppetlabs.com/herculesteam/augeasproviders_core).

[2014-09-20 05:59] #28 closed, assigned to nobody

[2014-09-21 13:42] vgeyer opened #30 "Push new package to forge?"
Because of errors with the current fore package due:
https://github.com/camptocamp/puppet-openldap/commit/e1a5447775ae82f9720cf4b84d9aad8d8492951c

[2014-09-23 09:15] #30 closed, assigned to nobody

[2014-10-05 13:15] #18 closed, assigned to nobody

[2014-10-05 13:22] #27 closed, assigned to nobody

[2014-10-05 13:23] #17 closed, assigned to nobody

[2014-10-12 19:27] danielkza opened #34 "Schema type does not exist"
Is the schema type actually implemented already? I don't see it anywhere in the code.

[2014-10-16 08:33] #34 closed, assigned to nobody

[2014-10-20 16:02] fatmcgav opened #35 "Using openldap_password in openldap::server::database triggers a resource change on every run"
It appears, possibly rightly, that when using the `openldap_password` function as part of a `openldap::server::database` resource, a resource change is triggered on every Puppet run due to the function generating a different hash each time.

Is there any way of making this idempotent?

[2014-10-20 16:17] fatmcgav opened #36 "Unable to create a database on CentOS 7 with OpenLDAP 2.4.39"
I'm trying to test this module with CentOS 7 and OpenLDAP 2.4.39.

I've defined the following simple manifest to test:
[code]

When I try and run Puppet agent, i get the following failure:
[code]

A full debug log can be found here: https://gist.github.com/fatmcgav/be7bc2e39abab08a094f

I've also redirected the openldap logs to a separate file, and can see the following in the logs when the Puppet

[2014-10-30 06:58] Kentzo opened #38 "Invalid parameter provider on Openldap_database[dc=my-domain,dc=com]"
Could you explain how it's suppoed to work? I do not see the provider parameter listed under ruby type.

[2014-11-13 09:52] #38 closed, assigned to nobody

[2014-12-15 10:03] marsanla opened #42 "Error LDIF content"
Hi i am trying to install ldap, and i am getting this error, and i dont know whats going on? ...

If you could give me some clue..

Thanks!

[code]

[2015-01-29 18:09] deltamualpha commented on #35
I have the same issue. What's going on here?

[2015-01-29 20:07] elyscape commented on #35
This is a complication of `slappasswd` generating a different hash every run. The problem with trying to make it idempotent is that there's no good way to test if a password is valid on the agent, as functions execute on the master.

[2015-02-01 18:31] deltamualpha commented on #35
And presumably you don't want to send the password to the client in order to generate it there *iff* the password doesn't work?

[2015-02-01 18:38] elyscape commented on #35
The generation happens on the master. The password is never sent in plaintext to the client.

[2015-02-13 20:40] johnthughes opened #44 "Invalid parameter provider on Openldap_database[dc=my-domain,dc=com]"
I started with a much more complicated pp file, but ended up reducing it repetitively until I was down to your minimum example and still received the same error. Can you sanity check this for me?
[code]
It currently results in the error in the subject. The rest is below. It is the same error with recent from puppetforge or from github.

OS: Debian 7.7 minimal install
[code]

Much thanks for your h

[2015-02-16 14:29] johnthughes commented on #44
Looks like it is directly related to:

https://tickets.puppetlabs.com/browse/PUP-1515

Which was merged 2015/01/29 but is not yet packaged(for debian at least, last package was 2015/01/28).

I am currently testing a hand patched 3.7.2 puppet master.

[2015-03-26 23:02] leonkyneur opened #48 "dbindex error "Type or value exists""
Having issues when managing Indexes.

## Environment:
Puppet 3.7.4
OS: CentOS 6.6
OpenLDAP: 2.4.39

The first run the index creates and all is well.. subsequent runs the agent complains that the index already exists.

## manifest:

    openldap::server::dbindex { 'create index uid':
        ensure    => present,
        attribute => 'uid',
        suffix    => 'dc=messaging,dc=example,dc=com',

[2015-03-29 06:49] mcanevet commented on #44
@johnthughes Could you plase try addding `class { 'openldap::client::utils': }` in your pp file?

[2015-03-29 06:51] mcanevet commented on #42
@marsanla could you give me some details? What puppet code are you using on what Operating System?

[2015-03-29 06:54] mcanevet commented on #36
@fatmcgav maybe https://github.com/camptocamp/puppet-openldap/commit/6a432e3b794303ff8da5d2dd57c3c1ef3c702e91 fixed your issue?

[2015-03-29 06:58] #35 closed

[2015-03-29 07:03] mcanevet commented on #48
@leonkyneur I definitely need an acceptance test to check that...
I'll see if I can find time to write it, or maybe you can try to submit a PR based on the existing acceptance tests.

[2015-03-29 07:37] fatmcgav commented on #36
@mcanevet will give it a go.

Cheers
Gavin

[2015-03-31 16:41] elyscape opened #49 "All passwords generated for a particular agent have the same salt"
As a complication of the new password hasher introduced in 4b2f0b2, multiple passwords generated for the same agent will have the same salt.  This significantly decreases the usefulness of the salt.  The fault lies in [line 10 of the `openldap_password` function](https://github.com/camptocamp/puppet-openldap/blob/4b2f0b2741eda4345810c5705c1bfe65d5e0498e/lib/puppet/parser/functions/openldap_passwor

[2015-04-01 06:41] elyscape commented on #49
There are a few ways to deal with this.

One option is to modify `openldap_password` to take additional values to use when generating the salt.  Another option is to modify `openldap_password` to take a salt directly and require the user to handle salt generation (maybe with [`fqdn_rand_string`](https://github.com/puppetlabs/puppetlabs-stdlib/pull/405), assuming that gets accepted into stdlib).  I

[2015-04-01 20:33] elyscape commented on #49
Pinging @mcanevet to make sure my comment was seen.  Sorry if you already read this.

[2015-04-02 06:35] raphink commented on #49
Integrating this into the provider seems like a good idea to me.

[2015-04-02 06:59] mcanevet commented on #49
@elyscape looks like a good idea. I may not have much time to code this in the nexts few days, so a PR would be great.

[2015-04-02 07:33] elyscape commented on #49
I'm a bit busy myself, but I'll take a look and see what I can do.  In the meantime, it might be a good idea to push out a point release reverting the 4b2f0b2.

[2015-04-06 22:45] t0xicCode opened #51 "Ubuntu Support"
The module on Ubuntu seems to be broken, mainly because the default database provider for Ubuntu is (right now) hdb.

The [recent change for Debian 8+ to have mdb as default](https://github.com/camptocamp/puppet-openldap/commit/979321ca2b6c4c2425b98bf34026577ce7d0b645) cause all Ubuntu versions to get their default changed to mdb as well, because all of the current Ubuntu versions (10.04,12.04,14.

[2015-04-06 22:49] t0xicCode commented on #51
I'll work on a patch that works in our environment and submit it as a PR.

[2015-04-08 11:44] #49 closed

[2015-04-21 05:23] nward opened #54 "openldap::server::access works poorly"
The documented usage for openldap::server::access really doesn't work very well. I'm trying to get this to correctly order things, and it doesn't seem to behave well.

If I set position to the "<before|after> access to <what> by <whom>" syntax from the documentation, it appears to have no effect. I can't see how that's implemented, nor can I see this documented in openldap if it's some sort of ope

[2015-04-22 14:49] jangrewe commented on #44
+1
even with openldap::client::utils

[2015-04-22 14:59] mcanevet commented on #44
@jangrewe well, this is weird, I have acceptance tests running fine on wheezy...

[2015-04-22 15:04] jangrewe commented on #44
I'm on a Ubuntu 14.04 with Puppet 3.7.4, using the module like this:
[code]
and the error is:
[code]

[2015-04-22 15:12] mcanevet commented on #44
@jangrewe Ubuntu is not supported yet.

[2015-04-22 15:24] jangrewe commented on #44
I would have bet that this doesn't make much of a difference, as it doesn't seem to be a OS problem (packages get installed and config gets applied just fine if i use "puppet apply" with a local puppet tree), and Ubuntu is still pretty much identical to Debian, at least concerning those elemental packages? It only happens with real puppet agent runs.

[2015-04-22 15:53] jangrewe commented on #44
The module works fine, i just have to override the backend to use 'hdb', and it seems that only ```$server_service_hasstatus``` in ```openldap::params``` would be affected by the system not being a real Debian - but that wouldn't explain the "invalid parameter provider" error ;-)
fyi:
[code]

[2015-04-27 10:46] jangrewe commented on #54
I've given up on this, the ACLs are always all over the place... i'm now writing a LDIF that i import when the ACLs are changed:

[code]

[2015-04-27 10:48] nward commented on #54
Yes, this is what I have resorted to as well, though it would be great to see this done properly.

By the way, instead of setting path, you can set provider => shell, which brings in whatever other stuff you need too.

[2015-04-27 11:32] jangrewe commented on #54
Thanks, that's a good point. I just copied those lines from somebody on Stack Overflow and didn't pay too much attention to the details, as it was finally doing what i wanted... and i could continue working on the actual directory structure ;-)

[2015-05-06 00:20] sivakalyanc opened #57 "Renaming basedn doesn't remove the previous basedn"
Hi,

I'm using a centos 7 server and initially configured openldap server as below:

[code]

I later renamed the basedn and applied it to the ldap server. Now I see both the basedn's and I can connect to either one. Is there a way to remove the old basedn if we rename the basedn?

[2015-05-06 06:16] mcanevet commented on #57
@sivakalyanc this is weird that you can't connect to either database...
You can remove the first one by setting `ensure` to `absent`:
[code]
Please be sure to have a backup in case something weird happens

[2015-05-06 06:16] #57 closed

[2015-05-06 14:05] MWilkinson commented on #54
Just a quick note, I managed to get the openldap::server:access to work in the following way -
[code]

Not sure if the suffix part was needed, but the title needed to be in that format to get it to match on subsequent runs

[2015-05-06 16:25] jas01 opened #58 "How you do ldapmodify on dn"
I would like to known how you do something like ldapmodify with
[code]
maybe they already have something but I didn't find it.

[2015-05-07 16:19] jangrewe opened #60 "Overlay options?"
Hi, how can i define options for an overlay, e.g. 'olcSpCheckpoint' and 'olcSpSessionlog' for 'syncprov'?

I noticed ':options' in '/lib/puppet/type/openldap_overlay.rb', but that doesn't seem to be used anywhere...

[2015-05-08 06:37] mcanevet commented on #60
@jangrewe you can't right now, but patches welcome.

[2015-05-09 22:44] gardouille opened #61 "Add support for multiple values in openldap::server::globalconf (was Support for Security)"
Hi,

There is any possibility to add support for (olc)Security? http://www.zytrax.com/books/ldap/ch6/#security
It's a good way to accept only TLS > 128 connections

Thank you :)

[2015-05-10 07:07] mcanevet commented on #61
@gardouille this should work:
[code]

[2015-05-10 10:43] gardouille commented on #61
This one is good:
[code]
It's all good for me, many thanks @mcanevet!

For information:
  * The 'ensure' parameter doesn't exist, so i try to delete the config with an empty string without success:
[code]
  * And i don't know how set multiple value:
[code]

[2015-05-11 04:20] mcanevet commented on #61
@gardouille I reopen the issue as we should add support for multiple values and ensurability.

[2015-05-16 22:43] mdimjasevic commented on #42
Same here... to me this happens under Debian 8. This is the puppet code I have:

$server_name = "master"
$dns_tld = "dev"
$admin_password = "p"
$cacert_dir = '/vagrant/etc/ssl/certs'
$cacert = "${cacert_dir}/master.dev.crt"
$ssl_key = '/vagrant/etc/ssl/private/master.dev.key'

class { 'openldap::server':
  ldaps_ifs => ['/'],
  enable    => true,
  ssl_cert  => "${cacert}",
  ssl_key   => "${ssl_k

[2015-05-17 07:24] mcanevet commented on #42
@mdimjasevic did you generate you private key using OpenSSL or GnuTLS?

[2015-05-20 08:51] amateo commented on #44
I have this same issue with Ubuntu 14.04. ```puppet apply``` works perfectly, but ```puppet agent``` fails with the error.

[2015-05-20 08:58] mcanevet commented on #44
@amateo Ubuntu 14.04 is not supported yet.

[2015-05-20 08:58] #44 closed

[2015-05-25 10:18] amateo commented on #60
I have just made PR #64

[2015-06-12 08:09] maxenced opened #70 "Add support for Monitoring database"
openldap supports an 'internal' monitoring framework ( http://www.openldap.org/doc/admin24/monitoringslapd.html ) which provides a cn=Monitor subtree.

To enable it, we need to add a "database monitor", so probably using openldap_database type, which right now only seems to support [hbm]db types ( https://github.com/camptocamp/puppet-openldap/blob/master/lib/puppet/type/openldap_database.rb#L19 ).

[2015-06-12 08:18] maxenced opened #71 "Database deletion forget to delete admin and organization"
When creating a new database with openldap_database olc provider, it creates :
- the database (https://github.com/camptocamp/puppet-openldap/blob/fb061ad750d217ee1591c07d9e8bf617c56642d2/lib/puppet/provider/openldap_database/olc.rb#L118 )
- the admin user and the base organization if initdb = true ( https://github.com/camptocamp/puppet-openldap/blob/fb061ad750d217ee1591c07d9e8bf617c56642d2/lib/pup

[2015-06-12 08:37] mcanevet commented on #71
@maxenced sounds legit, (always) ok for a PR

[2015-06-12 08:38] mcanevet commented on #70
@maxenced maybe a simple acceptance test could prove that everything is OK after lowering the restriction.

[2015-06-12 09:52] maxenced commented on #71
The main issue I see when trying to delete these items by hand is that the `destroy` method let the database in some incoherent state. As there is no more dc=my-domain,dc=com database, the ldapdelete fails and the only way we found was to stop / lsapcat / edit / remove physical db / slapadd. ldapsearch does not see the objects, only slapcat does, and ldapdelete fails with :

[code]

So probably we

[2015-06-19 09:30] #51 closed

[2015-06-19 10:21] mcanevet commented on #36
@fatmcgav I think this problem is fixed so I'll close this issue. Feel free to reopen if it is still relevant.

[2015-06-19 10:21] #36 closed

[2015-06-19 10:25] mcanevet commented on #48
@leonkyneur https://github.com/camptocamp/puppet-openldap/pull/66 will probably fix this issue (review in progress)

[2015-06-19 10:32] mcanevet commented on #54
Isn't it how is it documented?

[2015-06-19 10:33] mcanevet commented on #58
@jas01 https://github.com/camptocamp/puppet-openldap/pull/69 will fix this (review in progress)

[2015-06-21 17:32] nward commented on #54
I'm not sure what that question means I'm sorry - who are you talking to?

[2015-07-04 12:28] pmauduit commented on #42
I'm encountering the same issue (same os: debian8) ; what is weird, is that if I run the ldapmodify by hand with the same ldif content as the one provided by the Puppet output when it fails, it works.

I tried replaying my catalog with olcLogLevel set at -1, but could not find any useful clue of what is going wrong in the log files.

[2015-07-04 12:53] pmauduit commented on #42
Ok, I guess I figured out why: here are the default permissions on the files that are being referenced by the ldif on my setup:

[code]

If files are `chmod 600` before LDIF insertion in the slapd configuration, it works.

[2015-07-04 13:33] pmauduit commented on #42
In fact, it seems to depend in which order the properties are inserted, need to dig a little further

[2015-07-04 17:08] pmauduit commented on #42
Launching slapd in debug mode, checking what is done while trying to insert in several different orders (CA,key,cert or CA,cert,key), I can see the following trace:

[code]

It works when all the parameters (olcTLSCACertificateFile, olcTLSCertificateFile, olcTLSCertificateKeyFile) are set in the same ldif, like the following:

[code]

But I don't know how the providers (lib/puppet/provider/openlda

[2015-07-05 09:43] mcanevet commented on #42
@pmauduit thanks a lot for the diagnostic. I suppose we have to use `post_resource_eval` to apply all global parameters at the same time.

[2015-07-08 13:35] mcanevet commented on #42
Should be fixed by https://github.com/camptocamp/puppet-openldap/commit/c82be60b92fdbb202a2675e91a66a542032dc89f

[2015-07-08 13:35] #42 closed

[2015-07-08 13:36] mcanevet commented on #48
@leonkyneur #66 merged, I close this

[2015-07-08 13:36] #48 closed

[2015-07-08 13:37] mcanevet commented on #54
@nward I'm not sure what do work and what does not work?
Is it a bug or something (mis|un)documented?

[2015-07-08 13:39] mcanevet commented on #60
@jangrewe This should be fixed since #65 is merged

[2015-07-08 13:39] #60 closed

[2015-07-08 13:46] pmauduit commented on #42
thanks for the fix !

[2015-07-09 09:28] mcanevet commented on #58
#69 is merged, I close this issue

[2015-07-09 09:28] #58 closed

[2015-07-09 13:54] jas01 opened #82 "puppet/property/boolean"
Am I right if I say the module now need https://github.com/adrienthebo/puppet-boolean ?

Because I just update (git pull) and get this error
   err: Could not retrieve catalog from remote server: Could not intern from pson: Could not autoload openldap_database: no such file to load -- puppet/property/boolean

and with find we can see inside ./type/openldap_database.rb require 'puppet/property/bool

[2015-07-13 12:38] mcanevet commented on #70
@maxenced fixed by https://github.com/camptocamp/puppet-openldap/pull/73

[2015-07-13 12:38] #70 closed

[2015-07-14 05:54] mcanevet commented on #82
@jas01 `puppet/property/boolean` comes from puppet core : https://github.com/puppetlabs/puppet/blob/master/lib/puppet/property/boolean.rb , you shouldn't need any external dependency. This is weird that you have this error message. Could you give me more hints?

[2015-07-17 08:13] marsanla commented on #42
Thanks :)

[2015-08-18 13:14] crisper1978 opened #83 "Official Ubuntu support"
I am running into this error:

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Invalid parameter provider

and after reading through the closed issues found that it is due to lack of official support for Ubuntu 14.04.

Are there any plans to support it?

[2015-08-18 13:17] mcanevet commented on #83
We don't intend to code the support because we are not using this module on Ubuntu, but PR welcome.

[2015-08-25 14:17] JimPanic commented on #54
The documentation is a bit misleading - or merely incomplete -, I think.

The defined type openldap_access parses the title with three regular expressions and fills `name`, `what`, `by` and `suffix` if it is available: https://github.com/camptocamp/puppet-openldap/blob/master/lib/puppet/type/openldap_access.rb#L26

For access rules as described in the OpenLDAP documentation (http://www.openldap.or

[2015-08-25 14:27] JimPanic commented on #54
For clarification, the provider for `openldap_access` creates the LDIF like this:

[code]

Would be cool to be able to build this in a different way:

[code]
`access` being a string or an array of strings. This would also reflect the documented way to create ACLs:

[code]
(http://www.openldap.org/doc/admin24/access-control.html#Access%20Control%20via%20Dynamic%20Configuration)

[2015-08-26 20:09] emsearcy opened #85 "Per-database limits are different from timelimit/sizelimit"
Currently there are parameters for timelimit and sizelimit at the database level.  However, timelimit and sizelimit are only global configurations.  As far as I am aware, limits are configured at the database level using the "limits" keyword using a very different syntax (`limits <who> <limit> [<limit> [...]]`).  Attempting to set the olcTimeLimit or olcSizeLimit properties on a DB resource result

[2015-08-27 00:48] emsearcy commented on #54
I'm also looking through this trying to figure out how ordering works.  I also have the problem that the database is being created with 4 default rules which seem to be interfering with the rules I am trying to create (`to attrs=userPassword by self write by anonymous auth by dn="cn=admin,dc=sandbox,dc=local" write by * none` and I need to grant other users access to write to these).  I considered

[2015-09-15 08:39] gwarf opened #88 "Impossible to configure TLS for a moznss-based OpenLDAP server."
Hi,
On CentOS 6 and 7 (it seems to start from rhel 6, as explain https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Deployment_Guide/ch-Directory_Servers.html#s1-OpenLDAP) OpenLDAP is using a Mozilla NSS database for TLS instead of OpenSSL.
When doing this olcTLSCACertificatePath should point to the path of the moznss database, olcTLSCertificateFile should be the name of

[2015-09-15 09:02] gwarf commented on #88
I am currently testing/using this: https://github.com/gnubila-france/puppet-openldap/commit/967745f174816e78aa12dabd07561917bd7a90c2 on CentOS 6.

[2015-09-15 10:32] raphink commented on #88
@gwarf if you have a fix, can you file a PR (or turn the issue into a PR)?

[2015-09-15 11:41] gwarf commented on #88
Done.
Do you have some doc/info on turning an issue into a PR?

[2015-09-15 12:51] raphink commented on #88
You can turn an issue into a PR using `hub`. But if you've already opened a PR, there's no point anymore.

[2015-09-15 12:57] gwarf commented on #88
Yep it was for my culture, thanks.

[2015-09-16 14:39] jas01 opened #90 "Add/Change options overlay"
Hi,

I don't known if it's a bug or only not implemented or I just don't known how to use it.

Let's say I want put a replication (but can be any overlay), I want add for example
olcSpCheckpoint: 200 20
so with LDIF I'm going to make a ldapmodify on something like

    dn: olcOverlay={0}syncprov,olcDatabase={1}mdb,cn=config
    changetype: modify
    add: olcSpCheckpoint
    olcSpCheckpoint: 200 2

[2015-09-16 17:14] gwarf opened #91 "openldap::server::overlay not working to configure refint overlay"
Hi,
The following piece of code cannot work:
[code]
As the following ldif file is created:
[code]

And ldapadd fails with the following error:
[code]

The problem is that the objectClass olcRefintConfig should be added to the object.
I tried to add the objectClass in the options hash, but the problem is that it tries to replace the objectClass thus it fails...

Best,
Baptiste

[2015-10-05 12:12] FlorentChamault commented on #90
+1

[2015-10-15 06:11] mcanevet commented on #83
I reopen the issue because I received a personal message about it.
My guess is that one provider is not eligible because its lack of requirements. For example a command that is not present because a package is missing or the command name changed.
After a quick look at the providers, it looks like the only requirements are `slapcat`, `ldapmodify` and `ldapadd`. Are this 3 commands available on Ubun

[2015-10-15 16:43] bhedana commented on #83
on the system that complains about invalid parameter provider the ldap-utils package has not been installed so ldapadd and ldapmodify are not available..

if i read this right it looks like the source of this error is attempting to use ldapmodify to create the database before ldap-utils has been installed

[2015-10-16 05:36] mcanevet commented on #83
Well this is weird, because https://github.com/camptocamp/puppet-openldap/blob/master/manifests/server/install.pp#L9 should install ldap-utils

[2015-10-21 05:05] bhedana commented on #83
it appears the invalid parameter provider error was originating from within the augeasproviders module.. and blocking compilation of the nodes manifest.. which was why the ldap-utils package was not installed..

happily i've managed to get past that error and things appear to be working as expected.. clearing the cached modules and manifests on master and agent appear to have sorted that issue out

[2015-10-21 12:50] jas01 commented on #82
You can close this ticket.

The problem is present when using puppet 2.7 branch. But as I understand this branch is close to death (or maybe already dead) so you can forget it.

Regards

[2015-10-21 12:50] #82 closed

[2015-10-21 13:11] bhedana commented on #83
so it appears that nothing needs to be changed for this module to work with Ubuntu and puppet 4
it seems all the issues i experienced implementing this were ghosts, missing certificates, and permissions.. clear the cruft, ensure all prerequisites are in place and this module does it's job..

[2015-10-23 18:35] kronos-pbrideau commented on #54
As per : http://www.openldap.org/doc/admin24/access-control.html
`Also note that if no access to directive matches or no by <who> clause, access is denied. That is, every access to directive ends with an implicit by * none clause`

I don't want do break anything, but as @JimPanic says, we should be able to give multiple 'by' for every 'to'.  So I'm thinking of using `"${priority} on ${suffix}"` as

[2015-10-23 21:00] bhedana opened #96 "Overlay: objectClass: value #X invalid per syntax"
I'm having an issue configuring a replication provider.
I'm using this doc as a guideline
https://help.ubuntu.com/lts/serverguide/openldap-server.html#openldap-server-replication

I have translated the recommended ldif file into puppet DSL for this module.
example:
[code]
this stanza generates the following ldif:
[code]
this ldif when saved to a file and loaded using ldapmodify seems to work

howe

[2015-11-02 14:30] tverhoeven opened #100 "openldap::server::globalconf does not detect already present serverid parameter"
It seems that this resource does not check (or incorrectly) if the entry was already added to the global conf and keeps trying to create. Which of course fails since it is already present.

This is the exact error that I'm getting:

[code]
This is the error to expect when you try to add LDAP attribute that already exists. I've looked at the module's code and there is a check if an entry already ex

[2015-11-02 16:34] mcanevet commented on #100
@tverhoeven could you please provide the puppet code you are using so that I can try to reproduce?

[2015-11-02 17:20] tverhoeven commented on #100
Here is the code:

  #Variables
  if $::fqdn == 'servera01' {
    $serverid = '1 ldap://servera01/'
  } elsif $::fqdn == 'servera02' {
    $serverid = '2 ldap://servera02/'
  }

  # Setup openldap server and 2 trees
  class { 'openldap::server':
    databases => {
      'dc=tree1' => {
        directory  => '/var/lib/ldap/tree1',
        rootdn     => 'cn=Manager,dc=tree1',
        rootpw     => '

[2015-11-03 12:49] oernii opened #101 "password not hashed"
having this code:

[code]

results in:

[code]

[2015-11-04 10:18] tverhoeven commented on #100
I've manage to solve the problem.

I was adding a couple of other globalconf entries, this to setup TLS. And these worked fine. So I thought there is something to the way serverid's handled. But looking at the code this isn't the case.

Then looking again at my manifest I've spotted the problem. The TLS parameters in my manifest were capitalized exactly like they appear in the cn=config. By my ser

[2015-11-04 10:18] #100 closed

[2015-11-06 13:48] kronos-pbrideau commented on #96
Have you tried defining the module first ?

`openldap::server::module { 'accesslog' : ensure => present,}`
`  Openldap::Server::Module <| |> -> Openldap::Server::Overlay <| |>`

[2015-11-10 07:59] cjeanneret opened #102 "openldap::server::dbindex doesn't work properly"
It seems the type doesn't work properly: while trying to add multiple indices on a running openldap, puppet crashes:
[code]

It seems the first index was added (this is a fourth run after many tests), but the following weren't.

After poking around in the doc and examples we can find, it seems the next indices creation ldif should embed the following directive:
[code]

This will prevent openldap t

[2015-11-10 09:49] cjeanneret commented on #102
The acceptance test shows the issue: the provider doesn't detect properly the existing index.

[2015-11-10 10:17] cjeanneret commented on #102
Seems the self.instances is correct:
[code]

[2015-11-10 10:27] cjeanneret commented on #102
OK, seems I have found the issue:
it seems the provider wants a specific string, like "foo on bar".
But when we create the index resource, we're more likely to put just "foo" or any other string.

Main issue is [here](https://github.com/camptocamp/puppet-openldap/blob/master/manifests/server/dbindex.pp#L23) — ```$title``` shouldn't be used in there. We should create a string like the following:
[c

[2015-11-10 10:40] cjeanneret opened #103 "openldap::server::dbindex : probably doesn't support "update""
The generated ldif for an update should contain a special line, and should look as follow:
[code]

Note the line with "changetype".

But we should solve #102 before checking this issue.

[2015-11-12 13:59] mcanevet commented on #102
@cjeanneret there is something weird with the composite namevar, it looks like it does not recognize the existence of the resource and thus tries to create it again.

[2015-11-18 10:27] raphink commented on #102
So is this fixed now?

[2015-11-18 10:32] mcanevet commented on #102
@cjeanneret should be fixed, feel free to reopen if it is not the case.

[2015-11-18 10:32] #102 closed

[2015-11-18 10:33] mcanevet commented on #54
This issue should be fix since https://github.com/camptocamp/puppet-openldap/commit/17da7292ed6568e2c75bdedf4afa19ad109c6b86, can anyone confirm?

[2015-11-20 15:10] kronos-pbrideau opened #113 "Database deletion edit cn=config files"
The destroy function mess with files in `$server_confdir/cn=config` even if the header says:
`# AUTO-GENERATED FILE - DO NOT EDIT!! Use ldapmodify.`
At least, new checksum should be generated...

It possibly make subsequent fail in the test chain, but this specific error is in `:after` section and does not trigger the build failure.

[code]

[2015-11-24 13:47] coffeecoco commented on #102
I am having this issue still

o matching Packages to list
Error: LDIF content:
dn: olcDatabase=hdb,cn=config
changetype: add
objectClass: olcDatabaseConfig
objectClass: olcHdbConfig
olcDatabase: hdb
olcDbDirectory: /var/lib/ldap
olcSuffix: dc=pexadir,dc=pexa,dc=com
olcDbIndex: objectClass eq
olcAccess: to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage by * break
olcAc

[2015-11-24 13:56] mcanevet commented on #102
@coffeecoco could you please provide the puppet code that provided this error?

[2015-11-30 07:08] mcanevet commented on #54
I'm closing this as I think the issue is fixed.
Feel free to reopen if it is not the case.

[2015-11-30 07:08] #54 closed

[2015-12-14 12:48] samuelet opened #118 "openldap::server::overlay not working for smbk5pwd"
The puppet provider needs to manage the olcSmbK5PwdConfig objectclass in the create def.

[2015-12-31 16:11] djtaylor opened #119 "openldap_module undefined local variable"
There may be a typo in the openldap_module provider:

Error: Failed to apply catalog: undefined local variable or method `expection' for Puppet::Type::Openldap_module::ProviderOlc:Class

Should this be 'Exception' instead of 'expection'? (on line 24 of openldap_module/olc.rb)

[2016-01-01 05:17] #119 closed

[2016-01-01 05:17] mcanevet commented on #119
@djtaylor thanks

[2016-01-14 20:08] djtaylor opened #120 "openldap_overlay instances gsub"
To account for overlay options that have forced line breaks in them, the overlay provider 'provider/openldap_overlay/olc.rb' file should have the following:

Instead of paragraph.split("\n") it should be paragraph.gsub("\n ", "").split("\n\n"). If the line break for the options is not accounted for, the provider thinks that the attribute is different and must be changed, when in reality, it is onl

[2016-01-15 09:48] mcanevet commented on #120
@djtaylor could you please provide a PR for that?

[2016-02-18 03:55] tparkercbn opened #125 "complex ACLs don't work"
I have several complex ACLs that I would like to apply to my ldap server as single entry rules:

eg: to attrs=userPassword by self write by dn.subtree="ou=replication,dc=ls,dc=cbn" read by \* auth

The current way that ACLs are created and managed won't allow me to do this.  Other ACLs that are giving grief are ones with more than one element in the what selector

eg: to dn.subtree="ou=kerberos,dc

[2016-03-16 13:35] JimPanic commented on #61
In my fork I have a seperate config_entry type/custom-type/provider triplet (alongside config_hash which is a reworked and renamed global_conf) that accomplishes this.

I tried to combine the two, but this would make updating/setting TLS options impossible. `slapd` needs the TLS options `olcTLSCertificateFile`, `olcTLSCACertificateFile` and `olcTLSCertificateKeyFile` to be set in one ldapmodify in

[2016-03-16 13:47] JimPanic commented on #90
This exact code actually works for me.

Here's my hieradata for it:

[code]
(`profile::openldap::server` data is passed to `create_resources('::openldap::server::overlay'...)` in the profile)

The resulting entry in slapd is:
[code]

Do you still encounter that problem?

[2016-03-26 17:36] olevole opened #126 "puppet-openldap have syncrepl/mirrormode support but there is no information on how to use them"
I've can't find any information (including reading the source) how to configure multi-master configuraton.  if it is possible to configure it - can you write doc section about this? Thanks.

[2016-04-08 08:05] a-dawg opened #129 "openldap_database backend"
Hi,
I am facing a problem when changing the backend option of a database from default mdb to bdb:

[code]
my hiera file:
[code]

[2016-04-08 12:43] mcanevet commented on #129
I'm not sure this is possible without dumping/restoring the database.
This module does not and will not support this feature.

[2016-04-08 12:43] #129 closed

[2016-04-12 12:45] amateo opened #132 "Problem with syncrepl in openldap::database after commit 96ce18fdf2e93ffe2f7b14b9fa2b1e270db52719"
This commit adds a "\n" character and the end of every syncrepl entry.

This "\n" forces an update on every puppet execution unless you explicitly add it to your manifest. I think this is unnecessary.

Is there any reason for this new behaviour?

[2016-04-26 13:02] rogermartensson opened #133 "openldap_password should not use slappasswd"
I'm using puppet with a puppetmaster and my puppetmaster does not have slappasswd installed.
It would be nice if a more local SHA-1-algorithm was used instead.

I currently have a perl-skript doing the job since I currently don't speak ruby.

[2016-04-26 13:36] rogermartensson opened #134 "Error "already exists" when setting with globalconf"
I'm trying to set up replication and get a "already exists" error after a first successful run.
Since we already have syncrepl and mirrormode in openldap::server maybe serverid would be a good addition too.

I'm using:

[code]

Error recieved:

[code]

[2016-04-30 05:38] lbetz opened #135 "Error "already exists" when setting an access"
Using an an access rule like

[code]

results the following error for every access rule:

[code]

[2016-05-05 13:53] rongshengfang opened #136 "Invalid parameter 'provider' on Openldap_database[dc=my-domain,dc=com] in manifests/server/database.pp"
I am running CentOS 6.7 and Puppet 3.7.5 but still see the same issue described in issue #44

[code]

I do have _class { 'openldap::client::utils': }_ included in my manifest. Any thoughts on how to fix this?

[2016-05-05 15:40] rongshengfang commented on #44
I am running CentOS 6.7 and Puppet 3.5.1 and am still having this issue even with class {'openldap::client::utils':} included in the manifest.

[code]

[2016-05-06 06:35] mcanevet commented on #136
@rongshengfang could you write a unit or acceptance test that reproduces the bug?

[2016-05-06 12:19] rongshengfang commented on #136
@mcanevet The following is the class I used to test and produce the bug:

[code]

[2016-05-09 20:04] rongshengfang commented on #136
This issue is fixed after we upgraded the puppet master to 3.7.5. I am closing this out.

[2016-05-09 20:04] #136 closed

[2016-05-09 20:06] rongshengfang commented on #134
I am having the same issue here and had to write a script to just mange olcServerID. Any plan to get this fixed? It looks like globalconf always gets added, and doesn't use "replace" when the global conf item already exists.

[2016-06-02 17:56] doksner opened #137 "Invalid parameter on Openldap_database for all options new since 1.6.5"
I recently upgraded the openldap module from 1.6.5 to 1.14.0 to take advantage of the replication configuration options that were added.  But when I tried to update the node, I got an error similar to the following:

Not needing to override that option from the default, I tried just removing it from manifests/server/database.pp, at the bottom, where it is actually making the call.  Unfortunately,

[2016-06-30 18:02] luoymu opened #139 "error when extending schema"
I am have issue extending schema, here is what the yaml file look like this

[code]

the error looks like

[code]

So any hint?

Thanks

Frank

[2016-07-20 20:53] tykeal commented on #126
+1 to this. I'm trying to stand up a replica LDAP system and I can't figure it out even from reading the source what I need to do :(

[2016-07-26 19:43] tykeal commented on #126
@olevole I didn't look into the mirrormode configuration option, but I was playing around in my test lab and the syncrepl configuration is just an array of 'rid=....' lines. The docs could definitely use an example though.

[2016-07-29 21:36] miguelwhite opened #140 "Cannot enforce TLS/SSL"
Hi,

I'm running into an issue where I'm trying to enforce ssl by importing this ldif

[code]

When I do, all of the schema imports fail because it's not using SSL when running `ldapadd` here: https://github.com/camptocamp/puppet-openldap/blob/a32ecb6e036f09ea78595e13a8299c99d93d280c/lib/puppet/provider/openldap.rb#L29-L31

Here is the error:

[code]

[2016-07-29 23:43] emsearcy commented on #85
this was already merged by #68 before I even created this issue

[2016-07-29 23:43] #85 closed

[2016-08-18 09:20] raphink commented on #137
Did you launch Puppet on your server to pluginsync the new types?

[2016-08-18 15:49] lchanouha commented on #125
#141 Here is a patch

[2016-08-18 15:54] lchanouha opened #142 "Add option to select default ACLs"
In olc.rb, users are granted by default to some rights.
In my case, i don't want to grant my user write access to their entries.
An option would be more pratical than manually comment theses lines on olc.rb
    t << "olcAccess: to attrs=userPassword\n"
    t << "  by self write\n"
    t << "  by anonymous auth\n"
    t << "  by dn=\"cn=admin,#{resource[:suffix]}\" write\n"
    t << "  by * none\n"

[2016-08-18 19:39] quantum6four commented on #140
I'm also having this issues. Is there a work around?

[2016-08-23 17:51] #142 closed

[2016-08-24 07:29] #83 closed

[2016-08-24 07:45] mcanevet commented on #90
@jas01 I'm closing this because lake of activity. Feel free to reopen if you still encounter this issue.

[2016-08-24 07:45] #90 closed

[2016-08-24 07:45] mcanevet commented on #91
This should be fixed by #92

[2016-08-24 07:45] #91 closed

[2016-08-24 07:46] mcanevet commented on #96
@bhedana I'm closing this because lake of activity. Feel free to reopen if you still encounter this issue.

[2016-08-24 07:46] #96 closed

[2016-08-24 07:56] mcanevet commented on #101
@oernii well, this is weird... IIRC the password should start with either CRYPT, MD5, SMD5, SSHA or SHA. I don't know what transformation have been applied to you password.
Can you reproduce?

[2016-08-24 07:57] mcanevet commented on #103
@cjeanneret should be fixed by #104

[2016-08-24 07:57] #103 closed

[2016-08-24 07:58] #118 closed

[2016-08-24 07:58] mcanevet commented on #120
fixed

[2016-08-24 07:58] #120 closed

[2016-08-24 08:02] mcanevet commented on #132
@amateo this commit was supposed to fix an idempotency issue...
It does the opposite according to you?
If so, could you please provide an acceptance test that proves it?

[2016-08-24 08:05] mcanevet commented on #133
@rogermartensson you shouldn't use the `openldap_password` function. If you set your password as plain text, it will be hashed with SSHA automatically : https://github.com/camptocamp/puppet-openldap/blob/acd232e1e1162828cfbdb63d46df9eb0cf41b930/lib/puppet/type/openldap_database.rb#L94

[2016-08-24 08:05] #133 closed

[2016-08-24 08:11] mcanevet commented on #134
@rogermartensson could you please provide an acceptance test to prove the bug?

[2016-08-24 08:13] mcanevet commented on #135
@lbetz could you please provide an acceptance test that shows the issue?

[2016-08-24 08:53] mcanevet commented on #139
@luoymu it looks like your `mu.schema` is not valid.

[2016-08-24 08:56] mcanevet commented on #140
@miguelwhite this module uses the unix socket to communicate with slapd. I'm not sure it supports TLS/SSL.

[2016-08-24 08:58] mcanevet commented on #126
I will gladly accept PR for documentation.

[2016-08-24 09:00] mcanevet commented on #125
@tparkercbn can't you do this with 2 ACLs?

[2016-08-24 09:01] mcanevet commented on #113
@kronos-pbrideau could you please provide a PR for this?

[2016-08-24 09:02] mcanevet commented on #88
@gwarf PR waiting for rebase

[2016-08-24 09:02] mcanevet commented on #71
@maxenced could you please provide a PR for this? Or at least a PR that shows the issue with an acceptance test?

[2016-08-24 09:03] mcanevet commented on #61
@JimPanic what is the status of you work?

[2016-08-24 18:26] kronos-pbrideau commented on #132
I have the same problem...

My syncrepl is define as an array, It looks like @mvisonneau (#127) use hiera to define his syncrepl.

Maybe it's where the problems lies?  Is the syncrepl should always take an array as argument? or always a string?

[2016-08-25 06:41] mcanevet commented on #132
OK. I would gladly merge a PR that revert this if someone could code an acceptance test that prove the bug and prevent regression.

[2016-08-26 15:43] lchanouha commented on #134
I think this is because on uppercase characters.

[2016-08-30 16:48] phamp008 opened #147 "puppet apply openldap::server::module multiple times ?"
hello
I am sorry for my ignorance of Puppet newbie.  I was reading "Issues" and found an article that use
`create_resources` to configure `::openldap::server::overlay`
[code]

I notice that everytime puppet agent run, it re-creates the overlay

Agent log:
[code]

[2016-08-31 09:43] mcanevet commented on #147
@phamp008 we may have a bug. Could you please provide an acceptance test that proves it so that someone can fix it and to prevent regression?

[2016-08-31 20:44] phamp008 commented on #147
@mcanevet  -  I am new to Puppet and Github.  Would you please advise me instruction to how to

[2016-09-01 00:52] phamp008 commented on #147
I can only think of spec.rb file for test is something like below, I don't know whether we can call create_resources inside a test page or not.

require 'spec_helper_acceptance'

describe 'openldap::server::overlay' do

  context 'without parameters' do
    it 'creates an overlay' do
      pp = <<-EOS
      $opnldap_overlay = { 'syncprov on dc=foo,dc=bar' => { 'ensure'  => 'present', 'options' =>

[2016-09-01 06:30] mcanevet commented on #147
@phamp008 you could create a new specfile with this code but don't comment the second `apply_manifest` because it will be this one that will prove the bug.
Please provide a PR with you code so that we can see what the CI think about it.

[2016-09-01 21:23] kronos-pbrideau commented on #125
This is exactly what my PR #97 is about.

You can create your rule like (suffix is just a guess from your input):
[code]

You also can set position with the parameter `position`.

And i've created a wrapper for complex access rules, letting you create your access as a hash like so :
[code]

Feel free to comment on my PR if you think it's required

[2016-09-02 07:32] phamp008 commented on #147
@mcanevet  I have submitted PR#148 - When I use spec file without chain ordering, it looks like EL6 openldap::server::module applied module more than one times ?   - please see [https://travis-ci.org/camptocamp/puppet-openldap/jobs/157020262](url) .  It also break other tests in Debian OS.

[2016-09-02 09:30] gwarf commented on #91
Great, thanks!

[2016-09-02 16:22] phamp008 opened #149 "puppet applies openldap::server::database multiple times"
I specify syncrepl in our openldap::server::datbase and it looks like there is no idempotency here.

[code]

Thanks

[2016-09-12 15:57] jas01 opened #156 "Multiple providers alerts"
Using puppetserver 4.6.x and puppetagent 1.6.2 on Debian Jessie I always get a warning message

[code]

event with

[code]

class call.

In fact, after looking inside /etc/ldap it seem the puppet agent use olc not augeas.

By the way...why you still keep the augeas methods ? It's not recommended by openldap

[2016-09-15 20:48] nvanheuverzwijn commented on #132
@mcanevet PR #158 is ready for merge. It adds an acceptance test and fix this issue.

[2016-09-16 06:19] #132 closed

[2016-09-18 15:50] arnd opened #159 "overlay: attributes in options are handled with case sensitivity causing idempotency issues"
Openldap will happily accept case insensitive attributes.
For instance the following will work, but cause puppet be active every run:

[code]

This is because when asked via slapcat the LDAP Server will report the attribute being named "olcSpSessionLog".

In order to fix that issue, one needs to make sure that keys of the options property hash are matched case insensitive when compared.

[2016-09-19 12:25] Poil opened #161 "Ubuntu 16.04 is MDB"
Hi,

We need to patch lib/puppet/type/openldap_database.rb to set backend = mdb when Ubuntu 16.04

Best regards,

[2016-09-22 08:49] netman2k commented on #149
Can you show us the actual DSL you defined?

I could set the syncrepl successfully without any problem.
This is a snippet I used.
[code]

[2016-09-22 08:58] netman2k commented on #140
You need to see this page first.
http://www.openldap.org/lists/openldap-technical/201007/msg00241.html

[2016-09-23 06:24] phamp008 commented on #149
`class profiles::opnldap_server_new {

  $opnldap_global                   = hiera('opnldap_server::global')
  $opnldap_global_rootpw            = $opnldap_global['rootpw']
  $opnldap_global_rootdn            = $opnldap_global['rootdn']
  $opnldap_global_domain_suffix     = $opnldap_global['domain_suffix']
  $opnldap_module_list              = hiera('opnldap_server::modules')
  $opnldap_overlay

[2016-09-23 06:35] netman2k commented on #149
[code]
I think you should wrap it with '[' and ']' as below:
[code]
Cause the ruby code declared as below:
[code]

[2016-09-23 16:50] phamp008 commented on #159
hello @arnd  - I also have idempotency issue with hiera data using case sensitive

`opnldap_server::overlay:
  'syncprov on dc=example,dc=com':
    ensure: present
    options:
      olcSpCheckpoint: '100 10'
      olcSpSessionLog: '100'
  'ppolicy on dc=example,dc=com':
    ensure: present
    options:
      olcPPolicyDefault: 'cn=noneffective,ou=policies,dc=example,dc=com'
      olcPPolicyHashCl

[2016-09-23 16:59] phamp008 commented on #149
hello @netman2k  - idempotency issue for openldap::server::database is resolved using proper hiera, however whenever I turn on mirrormode it would give error.

Sample hiera:
[code]

[2016-09-23 17:07] phamp008 commented on #159
hello @arnd - I was able to resolve issue with correct sensitive attribute - I had
olcSpSessionLog and it should be **olcSpSessionlog**

[2016-09-23 17:25] phamp008 commented on #126
hello @mcanevet  - it looks like we have a bug here, whenever I turned on mirror mode and Puppet agent run with error

Here is my hiera to configure database:

[code]

Puppet agent run error
[code]

[2016-09-23 17:34] phamp008 commented on #147
Issue is resolved using correct case sensitive attributes

olcSpSessionLog -> olcSpSessionlog

[2016-09-23 17:34] #147 closed

[2016-09-23 19:48] phamp008 commented on #126
I was able to apply mirrormode after correcting syncrepl attributes typos.

Here is sample hiera with mirrormode
[code]

[2016-09-23 19:52] phamp008 commented on #149
Mirrormode issue is resolved after correcting syncrepl attributes and typos

sample hiera here

[code]

[2016-09-23 19:53] phamp008 commented on #149
Issue is resolved .

[2016-09-23 19:53] #149 closed

[2016-09-29 11:05] jrevillard commented on #88
@mcanevet I just rebased.

[2016-10-20 17:50] jparnaudeau opened #168 "Error creating database on Ubuntu16.04"
I try to create a simple database with this code :

`
openldap::server::database { $database_rootdn:
        ensure => present,
        rootdn => $admin_rootdn,
        rootpw => $rootpw,
        directory => $db_directory,
    }
`

I have got this error :
`rror message: Execution of '/usr/bin/ldapmodify -Y EXTERNAL -H ldapi:/// -f /tmp/openldap_database20161020-14846-1gi273x' returned 21: SASL/EX

[2016-10-21 06:26] mcanevet commented on #168
This module does not support Ubuntu 16.04 yet : https://github.com/camptocamp/puppet-openldap/blob/a129ebc1028f021e18cf55116bcf74e06125e727/metadata.json#L43-L48

[2016-10-21 06:26] #168 closed

[2016-10-24 06:49] netman2k opened #169 "Cannot assign more than one olcServerID by using the openldap::globalconf"
According to the OpenLDAP 2.4 administrator guide
http://www.openldap.org/doc/admin24/replication.html#N-Way Multi-Master replication

to configure a n-way multi-master cluster, we need to set olcServerID options as much as servers I have.

for example, If I got a 3-servers and the URLs are:
- ol1.example.com, ol2.example.com and ol3.example.com
I have to set as below:

[code]

but I could not pos

[2016-10-24 07:01] mcanevet commented on #61
Fixed by https://github.com/camptocamp/puppet-openldap/commit/93cb18fa9c4e711523020cc5c2ef5e1b841bf884

[2016-10-24 07:01] #61 closed

[2016-10-24 07:02] mcanevet commented on #169
Fixed by https://github.com/camptocamp/puppet-openldap/commit/93cb18fa9c4e711523020cc5c2ef5e1b841bf884

[2016-10-24 07:02] #169 closed

[2016-11-01 21:52] tykeal opened #172 "syncrepl updates should be show_diff false"
The syncrepl usually has a password as part of the property. Updates should be silent as otherwise you can put plain text passwords in logs / email (if using the tagmail module)

I've also noticed that as of at least v1.15 that syncrepl stanzas are re-applied on every puppet run even if they haven't changed!

[2016-11-08 18:04] miguelwhite commented on #140
Hi all,

I've figured out the work around. If you want to use TLS/SSL you need to set `olcLocalSSF` to a value higher than what you have set for `ssf`. So for my securtiy.ldif file above in the initial comment I set `ssf=128`. I then had to add the following puppet code:
[code]

After that, using the local unix socket works just fine.

[2016-11-08 18:04] #140 closed

[2016-11-16 15:07] rouxcorp commented on #101
You password is base64 encoded ... so it is in clear text
`echo c2VjcmV0 | base64 -d`

[2017-01-20 16:10] jeromedrouet commented on #101
reproduced here (version 1.15 on CentOS 6 - puppet 3.8.7)
# puppet agent  --onetime --no-daemonize --trace --test
[...]
Notice: /Stage[main]/Openldap::Server::Install/Package[openldap-servers]/ensure: created
Notice: /Stage[main]/Openldap::Server::Config/Shellvar[slapd]/value: value changed ['ldapi:/// ldap:///'] to 'ldap:/// ldapi:/// '
[...]
Notice: /Stage[main]/Openldap::Server::Slapdconf/Openl

[2017-01-25 06:25] WetHippie opened #177 "Unable to configure server when TLS enabled"
Op system: Centos 7, Puppet 4.8 (latest at time of writing). Iptables are quite simple, and, as you'll see with the below error messages, not a problem.

Starting with just an initial puppet setup of

[code]

running puppet so that an initial server is configured and placed on the target machine.  I'm unable to make any further modifications. This is due to the code using hardcoded parameters to a

[2017-02-06 11:00] jrevillard commented on #88
@mcanevet what's the status please ?

[2017-02-09 13:12] pazoozooCH commented on #137
For me, a restart of puppet master helped. Seems that these types are cached and not reloaded automatically...

[2017-02-09 14:12] #137 closed

[2017-02-09 14:23] treydock opened #178 "openldap_database rootpw is not idempotent and in plain text on initial creation"
If I add a new database to a system, it takes 2 runs of Puppet to correctly set the root PW.  I noticed the actual olcRootPW value in the cn=config ldif is very short after the first run and longer and what I'd expect on second run.  If I query with ldapsearch, the first run returns password in plain text and second run returns password with {SSHA} prefix.

First run:
Notice: /Stage[main]/Profile:

[2017-02-21 05:38] rvalle opened #179 "entryUUID?"
Hi,

I am trying to integrate my openldap with a third party which is expecting my entries to have the attribute entryUUID.

There is very little information about this attribute in OpenLdap documentation, apart of its existence, the fact that is server generated and used for sync.

Exporting my entries to ldif doesn't produce the attribute, as some documentation samples do.

Googling around I fou

[2017-02-21 08:38] rvalle commented on #135
I am getting the same issue, on Ubuntu Trusty.

[2017-02-21 11:22] lazyfrosch opened #180 "Module dn creating not always working"
I had a problem that the object `cn=module{0},cn=config` wasn't created before adding modules to it.

This was due to me fiddling with the config files by hand, and the output of slapcat returning:

    58ac220d ldif_read_file: checksum error on "/etc/openldap/slapd.d/cn=config/olcDatabase={-1}frontend.ldif"
    58ac220d ldif_read_file: checksum error on "/etc/openldap/slapd.d/cn=config/olcDatabas

[2017-02-23 15:12] zlanyi opened #182 "feature request: 2-way master-master replication"
Hi,
could you please provide a solution for 2-way master-master replication?
Like:
[code]

I can add only one olcSyncrepl with puppet module.

Thanks

Regards,
Zoltan

[2017-02-24 08:25] zlanyi commented on #182
ok, my fault. i found the solution:

i created a server profile with attribute syncrepl:
[code]
and i've added to my hieara:
[code]

Cheers
Zoltan

[2017-02-24 08:26] #182 closed

[2017-02-24 16:23] a-dawg opened #183 "Relay invalid parameter"
While trying to call the database class, I came accross the following compilation error. Anyone else reproducing ?

`==> default: Error: Invalid parameter relay on Openldap_database[dc=my-domain,dc=com] at /tmp/vagrant-puppet/modules-88445496912dd32b485bf6dece88901c/openldap/manifests/server/database.pp:87 on node xxxx
==> default: Wrapped exception:
==> default: Invalid parameter relay
`

[2017-02-25 01:35] netman2k commented on #183
Could you show us the code related this error?

[2017-02-25 08:05] a-dawg commented on #183
when installing a fresh new openldap server declaring a single database from hiera:
It does not even compile when try to setup the test db my-domain

`classes:
  - openldap::server

openldap::server::databases:
 "dc=xxx,dc=xx":
  rootdn: "cn=xxxx,dc=xxxxx,dc=xxx"
  rootpw: "xxx"
  suffix: "dc=xx,dc=xx"
  directory: "/home/ldap-data/"
  sizelimit: "100000000"
`

[2017-02-27 07:52] a-dawg commented on #183
@netman2k are you able to reproduce?

[2017-02-27 07:53] a-dawg commented on #183
Sorry closing and reopening this
@netman2k were you able de to reproduce?

[2017-02-27 08:21] netman2k commented on #183
I've just tested the below code, but no error occurred

[code]

I think you need to give us more information about your code, puppet version, OS and etc.

[2017-02-27 09:02] a-dawg commented on #183
using puppet 3.7.2 on debian jessie. This works with latest release 1.15.0 but not with current github fork. Only using a database declaration as in my second post

[2017-02-28 08:48] a-dawg commented on #183
also having the same error with parameter security
[code]

[2017-03-02 13:34] unixmind opened #184 "Error: Failed to apply catalog: undefined method `captures' for nil:NilClass"
# "openldap::server::access" Ruby resource doesn't work well

I got "Error: Failed to apply catalog: undefined method `captures' for nil:NilClass" message.

## for example :

- I have no OLC ACL :

[root@ldap ~]# ldapsearch -Q -LLL -Y EXTERNAL -H ldapi:/// -b cn=config "(olcSuffix=cn=dns,dc=example,dc=com)" olcAccess
dn: olcDatabase={3}hdb,cn=config

- Here is my resource call :
[code]

- It works

[2017-03-08 08:54] unixmind opened #185 "Setting dboptions doesn't work twice"
## Here is my short manifest example:
(Where I want to create one DIT, and I would like to set 2 HDB options)
[code]
## First run:
Everything works fine ...
[code]
I got correct attributes in the configuration DIT
[code]
## Second run:
I'm experiencing some issues
[code]
Far worse, I lost access to "cn=config" !!!
[code]

[2017-03-09 14:52] jrevillard commented on #185
Any update on that please ? It's a blocking issue for us.

Best.

[2017-03-09 14:54] jrevillard commented on #184
Any update on that please ?

[2017-03-09 15:54] mcanevet commented on #184
A unit test or an acceptance test would help to reproduce and hopefully solve this issue.

[2017-03-09 15:55] mcanevet commented on #185
A unit test or an acceptance test would help to reproduce and hopefully solve this issue.

[2017-04-04 04:59] netman2k commented on #183
I tested it on Jessie. but no error occurred
also I cloned the camptocamp-openldap source from the git master repo.
[code]

[code]

As you can see I works well. Is there anything missed?

[2017-04-27 13:09] kasimon opened #196 "Add support for the meta backend"
The meta directory is extremely helpful to provide a merged view on distinct ldap trees. It would be great if the module was expanded to be able to set up these as well.

[2017-04-28 11:23] arnd opened #197 "New Release please?"
It would be great to see a new release on puppet forge.
In particular I'm interested in the merged
https://github.com/camptocamp/puppet-openldap/pull/97

[2017-06-06 12:10] #161 closed

[2017-06-19 22:17] camservo commented on #183
I'm getting the same error but only when I run puppet agent hooked up to a remote puppetserver.

[2017-06-21 10:48] kasimon opened #202 "Manage /etc/default/slapd to control which ports slapd is listening on"
At least on debian /etc/default/slapd is used to configure on which ports slapd is listening. It would be helpful if this module would allow to at least specify the SLAPD_SERVICES variable.

[2017-06-21 11:07] mcanevet commented on #202
Can't you use `openldap::server::ldap*_ifs` for that?

[2017-06-21 12:55] kasimon commented on #202
Honestly I don't have an idea what the purpose of those settings is and how they are supposed to be used. Is it a short form for "interfaces"?

[2017-06-29 07:11] webratz commented on #101
I'm also seeing this issues. Anybody implemented a workaround?

[2017-06-29 08:20] webratz commented on #202
If you want SSL for example just use something like this

[code]
This will change the config accordingly

[2017-06-29 08:22] webratz commented on #185
I'm also seeing that issue. As long as I never change any parameters in the config everything is fine.
As soon as something is changed the update fails with the error messages posted above

[2017-06-29 13:05] kasimon commented on #202
oh, thanks, I was a bit slow on these. So the values of the *ifs-Arrays are what comes after the ldap*:// protocol part. Honestly this could use some improved documentation.

[2017-06-29 14:01] mcanevet commented on #202
PR welcome for the documentation.

[2017-06-29 14:01] #202 closed

[2017-07-04 18:14] tdb commented on #178
This is a duplicate of #101, I think?

[2017-07-04 18:24] treydock commented on #178
@tdb this appears to be a duplicate

[2017-07-04 18:24] #178 closed

[2017-07-05 06:27] #101 closed

[2017-07-05 13:45] webratz opened #204 "Access: generated ldif misses proper DN"
I'm trying to add a ACL to the monitor db with code looking like this:

[code]
which then creates the following ldif
[code]
the dn is obviously broken as ldapmodify also complains about
[code]
So the question here is:  Am I using the module in a wrong way, or is the actual generation of the dn flawed and needs to be fixed?

[2017-07-11 12:46] netman2k commented on #183
@a-dawg I think you tested it on your Vagrant VM. Is it possible to provide your Vagrantfile for testing?

[2017-07-11 14:54] a-dawg commented on #183
@netman2k Yes, I am not able to reproduce it anymore working latest release, shoud have been fixed with last commits.

[2017-07-11 14:54] #183 closed

[2017-08-01 12:26] webratz commented on #204
I see that same issue also for indexes. As there is no documentation the same applies here: Not sure if its wrong usage or a bug

[code]

[code]

[2017-08-06 23:59] jclong83 commented on #177
I thought this was an issue as well, but you can set a high ssf and still be successful. Here's what I did:

openldap::server::globalconf {
  'LocalSSF':
    ensure => present,
    value  => '256';
  'Security':
    ensure => present,
    value  => 'ssf=128';
}

olcLocalSSF sets the SSF for the IPC interface that this module needs to have running in order to work (as you noticed, it's hard-coded i

[2017-08-23 15:06] jas01 opened #205 "Server Error: no parameter named 'relay'"
After upgrade to 1.16.1 (from 1.15.0) I got this strange message

    Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: no parameter named 'relay' at /etc/puppetlabs/code/environments/jas/modules/openldap/manifests/server/database.pp:63 on Openldap_database[dc=my-domain,dc=com] at /etc/puppetlabs/code/environments/jas/modules/openldap/manifests/server/databas

[2017-08-23 16:21] christopherwood opened #206 "additional newlines in input data can break generated ldifs"
Summary:

I was using an epp template to generate the syncrepl parameter on openldap::server::database, and the final newline in the epp template file broke the part of the ldif after where it sets olcSyncrepl.

Details:

For convenience, I have `(setq require-final-newline t)` set in $HOME/.emacs so every file gets a trailing newline, including syncrepl2.epp.

So when I did `$syncrepl = epp($sync

[2017-08-25 09:30] webratz commented on #204
oh boy.. the code is case sensitive, see for example:
https://github.com/camptocamp/puppet-openldap/blob/75bc3d0373ba20cadabe2f7b5055b90ab95bdeea/lib/puppet/provider/openldap_access/olc.rb#L91
so, use lower case and you are fine

[2017-09-01 16:55] tdb opened #207 "Unable to set database to readonly"
I'm having trouble setting a database to readonly using the olc provider. It seems whatever value I set the database property to I'm unable to make this test true:

https://github.com/camptocamp/puppet-openldap/blob/d81f18f0cec4e9b2e6b4981f545b09e6339ea342/lib/puppet/provider/openldap_database/olc.rb#L367

Am I missing something? Locally I've done this little hack to make it work, but it doesn't l

[2017-09-22 11:10] arkadicolson commented on #205
We are having the same issue. Is there any workaround?

[2017-10-04 09:32] gecastan commented on #205
Hello,
Same issue here aswell.
Here is the setup we have been using for some time under Puppet 3 and ctoc-openldap v1.14.0
We upgraded to Puppet 4 and ctoc-openldap v1.16.1

We are using hiera to provide values like so :
---
classes:
  - openldap::server

openldap::server::databases:
  'dc=my,dc=domain,dc=local,dc=net':
    directory: '/var/lib/ldap'
    rootdn: 'cv=Manager,dc=my,dc=domain,dc=loca

[2017-10-13 13:45] kasimon opened #213 "Please add support for olcAuthzRegexp"
The database parameter olcAuthzRegexp is required if you want to use for example client certificates for authentication.

[2017-10-30 16:34] alexjfisher opened #214 "Errors when running `puppet generate types`"
I get the following errors when I run `puppet generate types`
[code]
Some look easily fixable, some I might need some help with.

[2017-11-10 16:09] nomoresecrets commented on #205
same here

[2017-12-05 04:23] trenta opened #215 "Adding monitor database doesn't work with default access"
When I try and add a monitor database with:

    openldap::server::database { 'monitor':
        backend => 'monitor',
    }

I get the ldif:

[code]

This results in the error:

[code]

I'm not sure but I think it would be good to add the monitor database without any default olcAccess and allow the user to add it later with openldap::server::access.  I'm also possibly not using this correctly.

[2017-12-06 01:13] trenta opened #216 "frontend database tries to add directory attribute by default"
I see there is a way to modify access to the frontend database but is there a way to modify attributes such as olcMaxDerefDepth and olcSizeLimit for it?

[2017-12-07 16:40] grimmzen commented on #213
Isn't this already possibe, via
[code]
?

[2018-01-05 16:02] Dan33l commented on #156
I meet also exactly same issue.
Any work planed about this ?

[2018-01-17 16:31] rturnbull1977 commented on #205
I have the same error on 1.16.1 version of this module running against the RHEL 7 server.
I get this error on the default dc created by the openldap RHEL 7 package.

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Invalid parameter relay on Openldap_database[dc=my-domain,dc=com] at /etc/puppet/environments/development/modules/openldap/manifests/server/database.pp:87 on n

[2018-01-25 20:03] rturnbull1977 commented on #185
Has there been any progress on this issue, I'm experiencing the same thing.

[2018-02-01 16:49] rturnbull1977 commented on #185
So in working with/using this code I have discovered the proper syntax to get this to work properly.
Currently I'm using version 1.15.0 of this module ( running under puppet 3.8.7 ).  Anyways, here is my definition that I used in my code....

  class { 'openldap::server':
       ldaps_ifs => ["/"],
       databases => {
      'o=MYDOMAIN,c=CA' => {
        directory => '/var/lib/ldap',
        roo

[2018-02-12 18:10] kyle-williams-1 opened #219 "Syncyrepl idempotency issues"
Commit [2f53300](https://github.com/camptocamp/puppet-openldap/commit/2f5330026a0537a6ccd45dffa5a8e4d2d0795dd9) introduced an idempotency problem.

I'm using version 1.16.1 of the Puppet modules.
Openldap version: openldap-2.4.31

[code]

After adding the "/n" back into the module code (undoing the commit referenced above), we achieve idempotency.

[2018-02-12 19:54] mcanevet commented on #219
Well this is weird as it looks like this purpose of this commit was to fix an idempotency issue.
Maybe we need an acceptance test to find out in what case one or the other solution woks.

[2018-02-12 21:55] kyle-williams-1 commented on #219
Indeed. I've verified it works now with /n on my version of OpenLDAP, but I'll soon be looking at updating OpenLDAP to see if that changes anything.

[2018-02-14 08:57] kasimon commented on #219
Updating openldap to something newer is generally a good idea, there are some known bugs and instabilities with 2.4.31 (which I ran long enough myself).

[2018-03-01 11:45] stickybyte opened #221 "Syncrepl needs a better documentation"
Hey everyone,
It looks like, the documentation is not explaining the way how to setup replication very well.
Is it possible to add this?

Regards

[2018-03-05 11:13] ilomon commented on #214
I see the same errors for `openldap_access.rb`, `openldap_dbindex.rb`, `openldap_overlay.rb`
puppet: 4.10.8
ruby: 2.3.1p112

[2018-03-12 22:12] stickybyte commented on #149
Hey phamp008,
Can you give me some support in using your code lines above?
I run into a strange situation ...
Regards,
sticky

[2018-04-05 21:56] treydock opened #224 "Unable to modify memberof overlay with new attributes"
This fails:

[code]

This works:

[code]

Provider likely needs to perform add operation if the attribute is not present.  So far only run into this with memberof overlay.

Puppet code:

[code]

[2018-04-18 11:17] #224 closed

[2018-05-23 08:26] hostingnuggets commented on #156
Same issue here with Debian 9 as you can see below:

[code]

Is this puppet module still maintained? This issue is from 2016...

[2018-06-03 11:37] fnoop opened #226 "Error: Could not find a suitable provider for shellvar"
I do have the module dependencies installed, any ideas?

[code]

[2018-06-04 11:41] fnoop commented on #226
Ah, was missing augeas.  Installing 'ruby-augeas' package on debian fixed the error

[2018-06-04 11:41] #226 closed

[2018-07-03 17:55] dynek commented on #134
I just had this same issue with serverid and changing the namevar to ServerID fixed it.

[2018-07-26 03:19] hlzhlm opened #227 "Not support Puppet 5 above"
Hi guys,
I am currently using Openldap module and migrating from puppet 4 to puppet 5.1.0. Is there any plan for camptocamp to support Puppet 5 onwards, else I need to find another module that support 5.1.0.

[2018-07-26 06:15] mcanevet commented on #227
What in this module does not work with Puppet 5?

[2018-08-16 09:11] kasimon commented on #213
Works like a charm. Thanks for the hint!

[2018-08-16 09:11] #213 closed

[2018-08-24 06:58] kasimon commented on #156
I get those too. Would be very neat if those could be fixed.

[2018-08-24 07:13] kasimon commented on #227
OP's probably referencing metadata.json, where puppet is limited to < 5.

Also, after upgrading puppet agent to 5.6, I get the following warning on every agent run:

<pre>
/opt/puppetlabs/puppet/cache/lib/puppet/provider/openldap_global_conf/olc.rb:9: warning: key :osfamily is duplicated and overwritten on line 9
/opt/puppetlabs/puppet/cache/lib/puppet/provider/openldap_database/olc.rb:10: warning

[2018-09-07 08:10] raphink commented on #227
As noted by you in #228, this was fixed in #217

[2018-09-07 08:10] #227 closed

[2018-09-07 08:12] raphink commented on #156
These are just warnings though. @jas01 iirc the augeas providers are for older versions which did not support the olc method. @mcanevet are they still needed?

[2018-09-07 08:35] jas01 commented on #156
Le 07/09/2018 à 01:12:39-0700, Raphaël Pinson a écrit

Well....I don't know if it's needed but openldap 2.4 support OLC and it's
highly recommanded to use OLC and openldap 2.4 was release in....2007...

So after 11 years I would say it's more than enough to just support olc ;-)

Ok I know they always someone who want file configuration...

It's just my opinion...

Regards

[2018-09-07 09:05] raphink commented on #156
@jas01 Agreed. I'll just wait for @mcanevet to make sure we don't need this (hopefully not).

[2018-09-07 09:06] raphink commented on #227
Merged #229

[2018-09-07 09:47] Dan33l commented on #156
Probably it should be possible to switch default to `olc` instead of `augeas`.

[2018-09-07 11:46] mcanevet commented on #156
@raphink I honestly don't know

[2018-10-04 13:17] kasimon opened #231 "Error when setting group based limits"
The olc database (https://github.com/camptocamp/puppet-openldap/blob/782949d8c77fc9294ecc31815211476a58ea008c/lib/puppet/type/openldap_database.rb#L210) provider misinterprets the syntax for group based limits (``group[/oc[/at]]=<pattern>``)  verbatim as documented at http://www.openldap.org/doc/admin24/limits.html#Per-Database%20Limits. But /oc and /at are only ment to be placeholders for arbitra

[2018-10-19 11:52] raphink commented on #231
So you're saying the regexp should be more generic? Can you provide a PR with a proper regexp for this?

[2018-10-23 12:56] jas01 commented on #205
I solve the problem by running

puppet generate types --environment=EACH_ENVIRONMENT_YOU_HAVE

Regards

[2018-10-23 13:48] #205 closed

[2018-10-31 16:40] RoBuerk opened #234 "schemas always added on each puppet run"
Hi @ll,
first: very nice module!

I have the problem, that openldap::server::schema tries to add the schema on every puppet run, which causes

[code]
So it does not recognize that this schema already exists.

Heres my code:
Hiera :
[code]
Profile:
[code]

Any help on this?
Thanx in advance!

[2018-11-01 13:08] raphink commented on #234
OK, so in short, you have a resource that could be written as:

[code]

It might be easier to debug this way.

[2018-11-01 13:11] raphink commented on #234
Could you post the full Puppet log please?

[2018-11-02 13:32] RoBuerk commented on #234
with Puppet:

[code]

Output:

[code]

Thanx again!

[2018-11-02 13:33] RoBuerk commented on #234
Hope you meant that

[2018-11-02 15:52] raphink commented on #234
Is there any more useful information if you run with `--debug` ?

[2018-12-07 09:17] RoBuerk commented on #234
Ok, i gave it another try with a simpler example:

[code]
Initial puppetrun shows:
[code]

and each following puppetrun shows:
[code]
For me it looks like the function always tries to ADD the schema:
[code]
event though it already exists and therefor fails.

Thanx again !

[2018-12-11 13:03] #231 closed

[2019-01-03 12:43] joaquin386 opened #236 "Augeas with puppet 6.1"
Hi

Version
[code]

I get following exception
[code]

[2019-01-07 07:59] raphink commented on #236
Good to know, although I'd like to know why :smile:

[2019-01-07 09:55] joaquin386 commented on #236
From Changelog:
https://forge.puppet.com/puppetlabs/stdlib/changelog

**Fixed**

- Handle nil in delete_undef_values() function

[2019-01-09 08:57] roumano commented on #184
Hi,

I was able to reproduce  the issue via enabling Monitor database (via puppet or manually)

To reproduce the issue, (don't do it on your production server ... )
1. use a ldap server managed by puppet,
1. create dn: olcDatabase={2}Monitor,cn=config manually via ldapadd or ldapmodify
1. re-run puppet, it's will now always crash with "Error: Failed to apply catalog: undefined method `captures' fo

[2019-02-09 17:18] jacksgt opened #237 "Why puppetlabs-stdlib < 5.0.0 ?"
Hi,

does someone know why there is this very hard requirement on [puppetlabs-stdlib](https://github.com/puppetlabs/puppetlabs-stdlib) being lower than 5.x?

https://github.com/camptocamp/puppet-openldap/blob/78b245353798010e5f5579f614c4ec322d4d0e42/metadata.json#L13

For reference: puppetlabs-stdlib 5.0 was released last in summer, here is the changelog: https://github.com/puppetlabs/puppetlabs-s

[2019-02-09 18:20] jacksgt opened #238 "ldap_modify: Error 80 adding TLS certificates and keys"
Hi everyone,

I just had this weird error `ldap_modify: Other (e.g., implementation specific) error (80)` when Puppet was applying the LDIF to modify the SSL / TLS certificates and keys for OpenLDAP.

Here my initial puppet code:
[code]

The complete error message:
[code]

After digging around for quite some time I found the issue: slapd was unable to access the files!
Albeit, this is a very bad e

[2019-02-09 18:20] #238 closed

[2019-02-09 19:28] jacksgt commented on #237
In fact I just tried it (removed the dependency from modules.yaml) and it seems to work fine (with the following versions):
* mod "puppetlabs/stdlib",                     "5.1.0"
* mod "camptocamp/openldap",                   "1.17.0"
* mod "herculesteam-augeasproviders_core"      "2.2.0"
* mod "herculesteam-augeasproviders_shellvar"  "2.2.4"
* slapd 2.4.44
* provider: 'olc'

[2019-02-10 12:12] kasimon commented on #237
Usually this is not due to a known incompatibility, but ment as a sign that the package has not tested with this major version of a dependency. So if you were able to run it with a newer version, maybe just create a pull request to increase the maximum supported version, together with a list of tests you performed.

[2019-02-11 11:56] jacksgt commented on #237
What kinds of test should I perform to check for support of puppetlabs-stdlib 5.x?

[2019-03-05 13:14] amateo opened #239 "Problem redefining access rules"
I have this access rules for a database:
[code]
where I have 6 rules for my database.

Initially it works fine.

Now I want to add another rule before the last one, so I changed to (move 6 to 7 and create a new 6):
[code]

the problem with this is that the new rule at position 7 (the already existing) is created, but the rule at position 6 is not changed, so at the end, rules 6 and 7 are the same.

[2019-03-16 17:02] #237 closed

[2019-04-09 12:30] raja5674 commented on #226
Hello Team,

I am getting attached error while installing the below module.

This is my install-puppet-modules.sh:
puppet module install puppetlabs/postgresql --version 4.7.1
puppet module install camptocamp/openldap --version 1.14.0
puppet module install puppetlabs/firewall --version 1.8.0

Note: I am installing these module through vagrant file. I have the entry like below in my file.
config.vm.

[2019-04-30 14:23] raja5674 commented on #226
Hello Team,

Any clue to get rid of this error would be appreciated?

Thanks,
Raja Rajagopal

[2019-04-30 14:37] jas01 commented on #226
Le 30/04/2019 à 07:23:51-0700, raja5674 a écrit

Have you try to do

  sudo puppet generate --types --environment YOUR_ENVIRONMENT

for every environment you get

regards

[2019-04-30 14:40] raphink commented on #226
@raja5674 please open new issues instead of commenting on unrelated old ones. Besides, I'm already answering you in https://github.com/hercules-team/augeasproviders_core/issues/14

[2019-04-30 14:54] raja5674 commented on #226
Sure.. Thanks.. will close this .. will follow with  hercules-team/augeasproviders_core#14.

Thanks,
Raja Rajagopal

[2019-05-27 08:12] raja5674 opened #242 "puppet module install camptocamp/openldap --version 1.14.0"
Hello Team,

When we try to install "puppet module install camptocamp/openldap --version 1.14.0" using vagrant file, we are getting some error. Below is the error.

default: Notice: /Stage[main]/Iwd-openldap/Openldap::Server::Schema[ifast]/Openldap_schema[ifast]: Dependency Shellvar[SLAPD_LDAP] has failures: true

Please let us know the root cause of this issue?

Regards,
Raja Rajagopal

[2019-05-30 06:38] raja5674 commented on #242
Hello Team,

Thanks for the support. we have resolved the issue by installing herculesteam-augeasproviders_core (v2.2.0) version separately.

[2019-05-30 06:38] #242 closed

[2019-08-28 13:26] Rikkuru opened #244 "add openldap pkg version parameter"
I think it would be nice to allow to ensure specific version of openldap packages. Today i needed to install patched version and had to modify module to accept version

[2019-09-05 10:52] HerveMARTIN opened #245 "Is it possible to specify olcPasswordHash in frontend database"
I can't find a way to specify some param in the frontend database.
According to man page, olcPasswordHash parameter is supposed to be in the frontend database config file.
How can I do this with this module?
Thanks for your help

[2019-10-20 16:39] gcoxmoz opened #248 "Update of requirements"
metadata.json lists now-old versions of all requirements (stdlib, shellvar, augeasproviders_core, and puppet itself).  Could this module get certified up to modern requirements, please?

[2020-01-25 20:34] rogermartensson commented on #134
I'm closing this issue since it's bit too old.
And some good comments was also added that may help future googlers.

[2020-01-25 20:34] #134 closed

[2020-01-28 08:13] #197 closed

[2020-02-07 11:37] ckolinski opened #259 "Compatibility with Puppet 6"
Hello,
we're currently migrating our environment to Puppet 6.10, and the openldap module is the last one we use which is still marked as only be compatible with <6.0.0

Any chance this may change in the near future?

I've tried using 1.18.0 anyway, but it seems to have trouble detecting the configuration on hosts that have been switched over from our old Puppet with version 1.15.0 of the module an

[2020-02-26 10:53] Dan33l commented on #248
If we update `puppetlabs/stdlib`, it should raise lower Puppet bound to 5.5.10.

[2020-02-27 09:37] #248 closed

[2020-02-27 09:53] Dan33l opened #262 "release 2.0.0"
Can we have a release 2.0.0, since PR #261 looks backward incompatible ?
Can i help ?

[2020-03-02 14:51] #262 closed

[2020-04-24 12:40] mrolli commented on #126
Finally found my way to this issue before opening one myself... well I'm at the end of the road.

@tykeal @olevole Did you succeed and use this in production? Could you just copy/paste your "solution" to this issue? I'd happily improve the docs as soon as I will have achieved the holy grail myself. ;-)

@phamp008 Or could you enlighten me some more with your solution. It's just hiera and a custom

[2020-04-24 16:25] tykeal commented on #126
@mrolli see the history of  https://github.com/tykeal/puppetserver-hiera/commits/production/home.bardicgrove.org/ldap.eyaml and https://github.com/tykeal/puppetserver-hiera/commits/production/home.bardicgrove.org/ldap-replica.eyaml I had a "working" test lab with replication (probably still do, but I haven't spun it up recently).

I had some issues with a few of the components, IIRC mostly around

[2020-05-27 15:27] spakka commented on #184
This output breaks the capture in:

[2020-05-27 15:39] spakka commented on #184
I can replicate the error

in a specific condition (that may not be the same condition that the other posters here are hitting)

this works OK:

I can create an openldap::server::access resource like this
[code]
This will produce olcAccess entries that look like:

[2020-05-27 15:54] spakka commented on #184
I can replicate the error
[code]
in a specific condition (that may not be the same condition that the other posters here are hitting)

this works OK:

I can create an openldap::server::access resource like this
[code]
This will produce olcAccess entries that look like:
[code]

Now if I change the `filter` in the `what` clause to something with a space in the match clause (which is a valid LDAP que

[2020-05-28 06:22] mcanevet commented on #184
If any of you could provide a PR for this issue I'd glad to merge it.

[2020-05-28 10:48] spakka commented on #184
@mcanevet This PR #264 at least catches the error and makes it informative, so users understand that it is the regex that is not matching.

[2020-08-26 18:59] danielsreichenbach commented on #215
According to the monitoring documentation the correct setup would be something like this:

[code]

[2020-09-23 09:32] hurghdragon opened #265 "Missing Parameter"
Hi I'm having an issue with upgrading from 1.15 to the current version. 2.0

I'm getting

I can't instantly see what I've got wrong and version 1.15 works fine.

This is running under CentOS 7 using the symas openldap rpms due to the fact that Redhat have stopped supporting openldap.

Let us know if you need any more details, I'm currently dropping back to 1.15 which is the last version that works

[2020-09-23 18:53] hurghdragon commented on #265
Problem resolved finally, restart the puppetserver after upgrading. It looks like puppet stores the custom type definitions in memory and simply upgrading and watching it copy across the code is not enough, there is still stuff hanging around in memory.

That's been annoying me for days.....

Peter

[2020-09-23 18:53] #265 closed

[2020-09-28 11:51] raphink commented on #265
@hurghdragon do you run `puppet generate types` after you deploy your code on the puppet server?

[2020-11-11 20:43] smortex opened #270 "Modernizing the module"
Hello!

While working on #267 I spotted a number of areas with legacy code that I would like to fix.  Some changes are minor, but other might introduce breaking changes, so before working on them and submitting PRs, I would like to have a go/no-go from the maintainers.

* [X] #269 Remove dead code used for supporting Debian <= 5
* [x] #287 Switch from `params.pp` to hiera
* [x] #295 Remove the `::

[2020-11-11 20:46] mcanevet commented on #270
OK for me. What do you this about that @raphink ?

[2020-11-11 20:49] raphink commented on #270
Good for me too

[2020-11-11 20:57] smortex commented on #270
Awesome, do you prefer that we handle theses points one by one in a specific PR, or do you prefer I submit multiple commits, one per point, to a single PR?

[2020-11-11 20:58] mcanevet commented on #270
I guess multiple PR is better

[2020-12-05 00:21] ppickfor opened #273 "adding new global configs when some already exist fails"
Hello,

If a new global config value is added after there is already some golbal configuration configured for the openslap server  puppet-openldap attempts to add all the configured global config rather that adding new ones only.

It will update changed values of each configuration item provided no new items are added.

I have a fork at https://github.com/ecomm911/puppet-openldap with a resolution

[2020-12-05 06:18] mcanevet commented on #273
I guess a PR is a good start indeed.

[2020-12-22 10:35] HerveMARTIN opened #277 "FreeBSD warning with slapd_sockets shellvar"
Hello,
I've tried the new FreeBSD support brought by PR by @smortex (https://github.com/camptocamp/puppet-openldap/pull/267/files) but we have a warning when we start slapd.
[code]
This line was added by puppet in /etc/rc.conf but is wrong :
[code]
The default value in FreeBSD for this variable is /var/run/openldap/ldapi which is fine for us.
I don't understand the puppet code for the value :
[cod

[2020-12-22 16:07] smortex commented on #277
Hi!

Do you have a custom value for this parameter?  I always override the defaults when I use this module, maybe it makes sense to adjust it?

Here is what I have in my ldap server profile, as you can see I use custom values for all `*_ifs` parameters:

[code]

[2020-12-22 16:41] HerveMARTIN commented on #277
I think ldapi_ifs should be undef by default in the module and, with a condition in config.pp, not setting the shellvar if let undef.
Would you be ok for a PR in that way?

[2020-12-22 17:46] smortex commented on #277
Certainly no objection from me, feel free to ping me in when you have a PR ready for testing and review!

[2020-12-23 10:27] HerveMARTIN commented on #277
@smortex here is my PR : https://github.com/camptocamp/puppet-openldap/pull/276/files

[2020-12-24 08:35] #277 closed

[2020-12-24 08:35] HerveMARTIN commented on #277
Waiting for 2 PR but we can close this issue.

[2021-01-11 13:12] mphilipps commented on #221
I am currently trying to figure out how to setup syncrepl. The fact that there is no documentation and the code isn't even using data types makes this quite challenging. No idea how this module got it's 4.6 quality score.

Anyway I spotted the syncrepl parameter for openldap::server::database, but I am unsure of the expected value. I tried passing a hash with rid, provider and all the other syncre

[2021-01-14 16:22] mphilipps commented on #221
got syncrepl argument working by flatting the has using:
`
.reduce('') |$m, $v| { if($m != "") {"${m} ${v[0]}=${v[1]}"} else {"${v[0]}=${v[1]}"} }`

No idea why it module doesn't do that itself.

[2021-01-15 15:02] mphilipps opened #280 "Purging openldap_access is highly unreliable."
hi,
I currently trying to get my acls working and noticed that I have created quite a mess. I have far more acls in my database than I actually have in my manifest. Apparently by default the module just inserts new access rules, but never purges the old ones. The islast parameter appears to do nothing.

After hours of digging through the provider code I then tried

[code]
This kind of works, but o

[2021-01-27 12:20] mphilipps opened #282 "doc for frontend acl is incorrect"
From the doc:
[code]

Doesn't work. It needs to be `cn=frontend`, with just `frontend` it sets the dn to `[]`

[2021-02-13 00:05] gcoxmoz commented on #280
I just took a production outage from something closely related to this.  Unfortunately I'm not able to get traction on what's wrong, so I'm dropping my notes in here in case someone else can.  I discovered we had 850 ACLs sitting around, going back years.  We should've had 60.

`lib/puppet/type/openldap_access.rb`, `what_re` is wrong.  It would fail to match against a rule of `{21}to * by * none`,

[2021-02-28 11:00] jlaba opened #286 "Database backend modules bdb and hdb"
I have configured the module with a manifest

    class { 'openldap::server': }
    # Enable bdb and hdb database backend
    openldap::server::module { 'back_hdb':
        ensure => present,
    }
    openldap::server::module { 'back_bdb':
        ensure => present,
    }

and a hiera file like this:

    openldap::server::databases:
        'o=example,c=org:
            rootdn: 'uid=admin,o=exam

[2021-04-19 17:46] gcoxmoz commented on #239
Problem still exists, related tightly to #280

[2021-04-19 17:48] gcoxmoz commented on #280
Still very much an issue.  Gratuitous comment to rewaken.

[2021-04-20 05:09] hostingnuggets commented on #156
Please do not close issue and please update module.

[2021-04-20 05:52] mphilipps commented on #280
hi @gcoxmoz,

Have you found a workaround? I am still not able to use the module in it's current state, but I also haven't found a better alternative.

I have spend many hours debugging this issue, but I managed to fix a small issue with the regex in `lib/puppet/type/openldap_access.rb` that lead to acls getting reported as absent during `puppet resource openldap_access`. However that is far from

[2021-04-20 05:53] mphilipps commented on #282
Still incorrect.

[2021-04-20 05:54] mphilipps commented on #221
Still an issue.

[2021-04-20 06:52] gcoxmoz commented on #280
tl;dr: "No solution found."

We've put a policy in place that we no longer let the module land any ACL changes.  We do changes by disabling puppet, performing ACL adds + deletes manually, committing to puppet, and testing it with --noop.  Followed by a cron that looks at (ACLs declared in puppet) vs (ACLs found on each server) and warns you when the number is different.

The issue's definitely key

[2021-04-23 16:21] stormbard opened #288 "Package[openldap] is already declared at"
If you already have the package openldap already defined else where with `ensure_packages(['openldap-devel', 'openldap', 'openssl'], {'ensure' => 'present'})` you get an error.

[code]

We like to define the installed packages explicitly so this is causing us a few issues. Is it possible to make the module do a check to see if this dependency is already defined before adding it again?

[2021-04-27 07:19] #139 closed

[2021-04-27 07:19] #113 closed

[2021-04-27 07:19] #71 closed

[2021-04-27 07:19] #125 closed

[2021-04-27 07:19] #159 closed

[2021-04-27 07:19] #172 closed

[2021-04-27 07:19] #88 closed

[2021-04-27 07:19] #135 closed

[2021-04-27 07:19] #180 closed

[2021-04-27 07:19] #196 closed

[2021-04-27 07:19] #177 closed

[2021-04-27 07:19] #206 closed

[2021-04-27 07:19] #204 closed

[2021-04-27 07:19] #216 closed

[2021-04-27 07:19] #185 closed

[2021-04-27 07:19] #219 closed

[2021-04-27 07:19] #214 closed

[2021-04-27 07:19] #234 closed

[2021-04-27 07:19] #244 closed

[2021-04-27 07:19] #245 closed

[2021-04-27 07:20] #259 closed

[2021-04-27 07:20] #126 closed

[2021-04-27 07:20] #184 closed

[2021-04-27 07:20] #215 closed

[2021-04-27 07:20] #273 closed

[2021-04-30 16:13] kasimon opened #289 "Setting limits fails for groups with spaces in their name"
As can be seen in

https://github.com/camptocamp/puppet-openldap/blob/82f3bd04b006e3c5816d5533d95cb8fd61eb7e46/lib/puppet/type/openldap_database.rb#L210

the module uses `\S+` to verify the dn of a group to set a limit. `\S` matches any non-whitespace character, but it is perfectly allowed to use whitespaces in LDAP DNs, like `cn=directory administrators, ...`.  In order to allow such groups, the

[2021-05-07 06:00] #286 closed

[2021-07-27 07:08] arkadicolson opened #293 "Service not working on puppet-agent version 6.21.1-1stretch"
[code]

Anybody an idea?

[2021-07-27 08:17] arkadicolson commented on #293
I can see it is in master and not in 2.0.0. Is it possible to make a new release please?

[2021-07-28 08:51] arkadicolson opened #294 "openldap_access provider"
Hi

I'm getting this error after update puppet-agent to 6.21 and the module to 2.0.0

Error: Could not prefetch openldap_access provider 'olc': undefined method `flatten' for nil:NilClass
Error: Failed to apply catalog: undefined method `flatten' for nil:NilClass

Anybody an idea?

Thx

[2021-08-05 13:33] raja5674 opened #297 "OpneLDAP is not installing. Giving the following error"
Hello Team,

Please help me on the below error.

Error:
	==> default: Notice: /Stage[main]/Openldap::Server::Install/Package[openldap-servers]/ensure: created
	==> default: Notice: /Stage[main]/Openldap::Server::Config/Shellvar[slapd]/value: value changed ['ldapi:/// ldap:///'] to 'ldap:/// ldapi:/// '
==> default: Notice: /Stage[main]/Openldap::Server::Service/Service[slapd]/ensure: ensure change

[2021-08-06 06:28] raja5674 commented on #297
Team,

Any update on this request would be appreciated. I have been stuck in this issue past couple of weeks.

[2021-08-09 06:40] raja5674 commented on #297
Hello Team,

No one is there is answer to my query?

[2021-08-11 02:16] smortex commented on #156
The augeas provider is now gone (#291), this issue should not appear anymore.

[2021-08-11 02:16] #156 closed

[2021-08-11 15:36] bastelfreak commented on #297
I Also want to point out that Puppet 3 is end of life since 4? years. The latest version is Puppet 7 and Puppet 8 will probably be released in 2-3 months. Please update your Puppet version to a more recent version. We're happy to help you during the migration on slack/irc (#voxpupuli on https://slack.puppet.com/ or the libera IRC network). Also CentOS 6 is dead.

[2021-08-12 19:50] smortex commented on #270
Done :-)

[2021-08-12 19:50] #270 closed

[2021-08-13 20:38] bastelfreak commented on #297
Hi @raja5674 ,

it's not that simple. Before upgrading your puppet agent you should review your code and ensure if it's still compatible with new puppet versions and new module versions, ideally you ensure this with tests. I highly suggest to not blindly update such an ancient environment without any puppet experience.

[2021-09-02 06:48] scorillo commented on #280
I did some tests using different versions of the module and it seem the ACL problems have started with version 1.18.0.
For my use cases version 1.17.0 is working fine.

I'm not a programmer, but this are the changes I made to make it work again, at least for my use cases (modify an existing access rule and delete the rules after the 'islast' one)

openldap_access type:
[code]
openldap_access provi

[2021-09-03 13:44] scorillo commented on #280
@bastelfreak ^^^

[2021-09-04 00:03] smortex commented on #280
lol, `puppet resource` is fscked up… which will not help!

[code]

I am checking your suggestion @scorillo.  Do you have a PR to submit :wink: ?

[2021-09-04 01:16] smortex commented on #280
Can you give #315 a try?  I have better results with these changes, but I have very trivial rules in my personal OpenLDAP directory :upside_down_face:

You can switch to this code by updating your control-repo Puppetfile:

[code]

It might not be enougth to fix completely this problem though… If you still see failures, can you share a whole symptomatic configuration and the steps to reproduce the

[2021-09-06 07:35] scorillo commented on #280
so in #315  you basically reverted `def exists?`  to how it was in 1.17.0: `@property_hash[:ensure] == :present`
you didn't fix the 'islast' issue :grin:

[2021-09-06 11:40] scorillo opened #316 "Default access rules on new database"
Can this default access rules for newly created databases be added later (in `openldap::server::database`) using the `openldap::server::access` resources?

https://github.com/voxpupuli/puppet-openldap/blob/ed3804fa5b25a05b648c091852ff628cc553388e/lib/puppet/provider/openldap_database/olc.rb#L264-L274
The current implementation (via the LDIF used for database creation) will lead to this kind of err

[2021-09-06 22:20] smortex commented on #316
I never experienced this because the OpenLDAP directories I manage existed before I used this module, but these default olcAccess does not make much sense for me :astonished:…  I would drop them completely.

[2021-09-06 22:53] smortex commented on #280
Yes.  The "Puppet Types & Providers" book does not show "smart" things for checking if a resource exist, and in our case, it returned the wrong value… so KISS :shrug:

Since I the code is now doing what I expected it to do, I did not touched it.  Also, I do not understand what the "issue" is.  Do you have a test case I can reproduce that show the `islast` problem?

[2021-09-07 07:25] scorillo commented on #280
Just put the parameter `islast => true` on your penultimate (second last) access resource. The last one should be deleted and this is not happening since version 1.17.0
I was able to fix this, please take a look at my diffs above. I'm not sure if it is the right way to fix. I was basically trying to revert some changes between versions 1.17.0 and 1.18.0

[2021-09-07 13:51] stompa75 opened #317 "Regression in treatment og Globalconf"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.24.0
- Ruby:
- Distribution: CentOS 7
- Module version: 3.0.0 and 3.1.0

This configuration from the documentation does not work any longer (works in v2):

# Configuring multiple olc serverIDs for multiple master or mirror mode
openldap::server::globalconf { 'ServerID':
  ensure  => present,
  value   => { 'ServerID' => [

[2021-09-07 20:28] smortex commented on #317
The doc is right.  This is a regression introduced in #300.

[2021-09-07 22:13] smortex commented on #280
If I follow correctly…  Starting with:

[code]

If I replace the previous code with:

[code]

you expect it to _ensure_ the two resources I stopped managing are enforced to be _absent_?

We can express this more explicitly:

[code]

or more concisely:

[code]

Setting `islast => true` on a resource to make puppet **manage** (remove) an _unmanaged_ `openldap_access` resource looks very wrong and br

[2021-09-08 05:39] mphilipps commented on #280
if you remove islast, please ensure that

[code]
works, similar to how it does for other resources like cronjobs. Also please test that it is possible to reorder rules in puppet and have that affect the system.

[2021-09-08 06:00] smortex commented on #280
@mphilipps it's basically what I did successfully for my very simple setup (unbreak purging unmanaged resources).  Can you please update the `Puppetfile` in your control report to use this branch (see bellow) and tell be if it works for _you_ (the problem you initialy reported)?

[code]

Thanks!

[2021-09-08 06:05] mphilipps commented on #280
I had pretty much given up on using this module and deleted the server I was testing this on. When I have a bit more time I will give it another attempt.

[2021-09-08 07:05] scorillo commented on #280
Ensure absent on a few access rules seems right. But I can imagine cases when you want to drop multiple accesses and `islast` can help, especially if you want to remove some unmanaged rules. For example, you have 10 olcAccess manually added and you want to enforce via puppet only two of them. It is simpler to declare the two and set the second one as 'islast'. That way puppet will replace (if need

[2021-09-08 09:58] hpkunz opened #319 "openldap::server::overlay does not allow tuples as options"
Hi,

since I upgraded (from 2.0.0) I cannot set multiple ServerID values anymore. Also the example (Configuring multiple olc serverIDs for multiple master or mirror mode) in the docs does not work anymore.

the reason is, that the parameter variants allowed (openldap/manifests/server/globalconf.pp) are too restrictive. if I add a third variant, e.g. like
[code]
it is again possible to specify mult

[2021-09-08 12:10] hpkunz commented on #319
similarly, it would be nice to allow also  multi-valued options for overlays, e.g.

openldap::server::overlay { "smbk5pwd on $ldap_base":
    options => {
      'olcSmbK5PwdEnable' =>  [ 'samba', 'shadow' ]
    }
  }

this can be achieved by changing the allowed parameter variants (openldap/manifests/server/overlay.pp) to

define openldap::server::overlay (
  Enum['present', 'absent']

[2021-09-09 23:15] smortex commented on #319
Regarding the globalconf issue, I believe the issue was fixed in #318.

Similar issue with overlay, I am giving a look in #320.

[2021-09-13 19:03] smortex opened #323 "[poll] What to do with the islast parameter of openldap_access?"
As exposed in https://github.com/voxpupuli/puppet-openldap/issues/280#issuecomment-914662463 and following messages, `islast` support is currently broken and the way it is used to remove unmanaged resources is questionable.

We basically have two possibilities:
1. Fix it to restore the behavior of removing unmanaged resources;
2. Drop this parameter completely.

Can users of the `openldap_access`

[2021-09-13 19:03] smortex commented on #280
So, there are basically two different issues here:
1. `resources { 'openldap_access': purge => true }` being broken, for which #315 is a solution;
2. the `islast` parameter being broken, for which I am not sure a fix is worth it and if we should better delete it completely.  I opened #323 to explore this.

[2021-09-13 19:06] smortex commented on #239
Old PR, but if you are still around you may want to cast your voice in #323.

[2021-09-14 07:08] #280 closed

[2021-09-15 09:27] arkadicolson commented on #294
Debug: Executing: '/usr/sbin/slapcat -b cn=config -o ldif-wrap=no -H ldap:///olcDatabase={1}mdb,cn=config???(olcAccess=*)'
Error: Could not prefetch openldap_access provider 'olc': undefined method `flatten' for nil:NilClass
/opt/puppetlabs/puppet/cache/lib/puppet/provider/openldap_access/olc.rb:70:in `block (2 levels) in prefetch'
/opt/puppetlabs/puppet/cache/lib/puppet/provider/openldap_access/o

[2021-09-15 17:33] smortex commented on #294
Hi @arkadicolson

Do you mind sharing the output from `slapcat -b cn=config -o ldif-wrap=no -H 'ldap:///olcDatabase={1}mdb,cn=config???(olcAccess=*)'`?

[2021-09-16 07:12] arkadicolson commented on #294
Because I'm not sure there is confidential data inside I share the output via email to romain@blogreen.org

Thanks for looking into this!
Arkadi

[2021-09-16 17:29] smortex commented on #294
Thanks!

I tried to reproduce your problem without success.  For this, I added a unit test and fed it with your dump (I put that code in a PR, the dump is not included in the PR https://github.com/voxpupuli/puppet-openldap/pull/324)

Since I had to unwrap line that got wrapped in the mail, maybe the root cause is the way `slapcat` output data on your node (and somewhat ignoring `-o ldif-wrap=no` o

[2021-09-22 01:30] #319 closed

[2021-09-22 18:06] skn-bvdh opened #328 "openldap::server::database initdb data type should support value false"
Since commit c2ea6cb4f17798eb5cd39709d0b996ed6cd4b1dc the initdb parameter in openldap::server::database has been changed to data type String.
https://github.com/voxpupuli/puppet-openldap/blob/75ff49eecb312e0e063bc9a5e0b2cd44f03ef3c2/manifests/server/database.pp#L10

It should still support value (boolean) false, while it is still referred and used in the openldap_database lib:
https://github.com/

[2021-09-22 22:24] #328 closed

[2021-09-25 21:05] #323 closed

[2021-09-25 21:08] smortex commented on #294
@arkadicolson I did not get feedback, have you managed to fix this issue I could not reproduce?

[2021-09-27 06:30] arkadicolson commented on #294
Sorry for the late response! I've send you an email with the new access.ldif Hope you can find some useful info in that

LDAP version: slapd 2.4.47+dfsg-3+deb10u1~bpo9+1
OS: Debian 9.11

[2021-09-27 17:52] smortex commented on #294
Thanks!

I run the test I wrote against the ldif file you sent me by e-mail on `master`, `v3.1.0`, `v3.0.0` and `2.0.0` and all version pass…

I suspect your setup if broken: maybe you the version of the module is not what it is expected to be?  Maybe you have local changes in the module code?  Maybe puppet find another `slapcat` than the expected one in it's $PATH?  Maybe some environment variabl

[2021-09-27 18:55] smortex commented on #239
Version 4.0.0 dropped support for the `islast` parameter which was buggy, then broken.  Closing this issue.

[2021-09-27 18:55] #239 closed

[2021-09-27 18:56] smortex commented on #293
Releases where done :-)

Closing

[2021-09-27 18:56] #293 closed

[2021-09-27 18:59] smortex commented on #288
I would consider this an anti-pattern: I would expect the module to manage the package, and if the package is managed outside of the module, raise an error like it currently does.

If you have a use case for which managing the package in the module is not great, I would rather suggest adding a parameter `manage_package` that defaults to true and when set to false skip completely package management

[2021-09-27 19:29] stormbard commented on #288
The use case is that we have explicit package management defined elsewhere. One source of truth for what packages get installed via puppet rather than asking which module installed that or digging through multiple files. It feels weird that I'm getting punished for being detailed and explicit rather than expecting and hoping a module would do it for me.

[2021-09-28 08:15] arkadicolson commented on #294
"puppet resource openldap_access" gives output without an error.

Do you mean I have to debug this by editing /opt/puppetlabs/puppet/cache/lib/puppet/provider/openldap_access/olc.rb and running "puppet resource openldap_access"? So if I add debugging to the olc.rb code and run "puppet resource openldap_access" it should be displayed?

[2021-09-28 20:26] smortex commented on #294
Damned, I would not have expected this :fearful: .  So only puppet running in daemon mode show this behavior…  That makes me think the server process does not use the same files as the agent you spawn manually, or the execution context is different (i.e. selinux and the like)?

Tweaking the files locally should not be possible (they would be overwritten by the original ones when getting a new cata

[2021-09-29 14:32] arkadicolson commented on #294
I copied the module as you suggested.

I added this:
    puts "-testline-"
    puts slapcat('(olcDatabase=monitor)')

The "-testline-" is printed. Anything from slapcat is emtpy I think, nothing is printed. Is there a way to print info more from the slapcat function/command ? I'm new to Ruby so some more debugging tips are welcome ;-)

[2021-09-29 14:38] arkadicolson commented on #294
root@ldap:~# /opt/puppetlabs/puppet/bin/ruby -v
ruby 2.5.8p224 (2020-03-31 revision 67882) [x86_64-linux]

[2021-09-29 18:28] smortex commented on #294
I understand you put your code here,  before line 20:

https://github.com/voxpupuli/puppet-openldap/blob/5ad9f13dad4eaa86648cb76bf47799a89d32eba0/lib/puppet/provider/openldap_access/olc.rb#L17-L20

`slapcat('(olcDatabase=monitor)')` was unexpected to me, the error you are referring to seems related to `slapcat('(olcAccess=*)')`… typo? :wink:

[2021-09-30 07:47] arkadicolson commented on #294
I added debug info like below. Seems slapct is working only resources[name][:access] is empty...

`  def self.instances
    # TODO: restict to bdb, hdb and globals
    i = []
    puts "-------START_OUPUT---------"
    puts slapcat('(olcAccess=*)')
    puts "-------END_OUPUT---------"

    slapcat('(olcAccess=*)').split("\n\n").map do |paragraph|
      access = nil
      suffix = nil
      position

[2021-09-30 07:59] arkadicolson commented on #294
i << new(
            name: "#{position} on #{suffix}",
            ensure: :present,
            position: position,
            what: what,
            access: access,
            suffix: suffix
          )
          puts "-------iiiii--------"
          puts i
          puts "-------iiiii--------"

gives:

-------iiiii--------
(provider=olc)
(provider=olc)
(provider=olc)
(provider=olc)
(provide

[2021-09-30 11:25] arkadicolson commented on #294
Something wrong with position?

Debugging added:
------------------------
 def self.prefetch(resources)
    accesses = instances

    resources.keys.each do |name|
      next unless provider = accesses.find do |access|
        puts "POSITION >> #{resources[name][:position]}"
        puts "SUFFIX >> #{resources[name][:suffix]}"
        puts "ACCESS >> #{resources[name][:access]}"
        if resourc

[2021-10-01 01:28] smortex commented on #294
Okay, I managed to reproduce this issue :boom:

Prefetching is not only used when you purge resources, and I think this from the README should apply to all access rules:

https://github.com/voxpupuli/puppet-openldap/blob/5ad9f13dad4eaa86648cb76bf47799a89d32eba0/README.md#L229-L239

The code I used to cause the failure was:

[code]

The code I use everywhere with success looks like this:

[code]

o

[2021-10-04 09:24] arkadicolson commented on #294
Great news! I converted the resource and it is working now. Thanks a lot for the help!

[2021-10-07 19:21] jouveits opened #333 "`$openldap::server::database::mirrormode` does not enable olcMirrorMode"
The `mirrormode` parameter of the `openldap::server::database` resource type [expects a string (or undef)](https://github.com/voxpupuli/puppet-openldap/blob/master/manifests/server/database.pp#L21)   but internally is [tested against a boolean](https://github.com/voxpupuli/puppet-openldap/blob/master/lib/puppet/provider/openldap_database/olc.rb#L260)

The parameter is currently useless and does no

[2021-10-07 19:29] jouveits opened #334 "openldap::server::overlay incorrectly parses suffix"
The "overlay on suffix" title for the `openldap::server::overlay` is incorrectly parsed. The suffix is not applied correctly by puppet afterwards, as it is using "[]" as a suffix.

Using the `suffix` attributes provides the same result.

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.24
- Ruby: 2.5.9
- Distribution: Centos 7
- Module version: 4.0.0

## How to reproduce

[2021-10-07 22:20] smortex commented on #334
Hey!

Hum…  Should probably be like:

[code]

[2021-10-08 11:37] joeryan commented on #221
I was able to get this working by passing a string laid out as if I was setting it using an ldif.
class {'openldap::server':
....
    syncrepl => ['{0}rid=1 provider=ldaps://ldap-1.example.com bindmethod=simple timeout=10 network-timeout=10 binddn="cn=syncrepluser,dc=example,dc=com" credentials=<redacted> keepalive=0:0:0 filter="(objectClass=*)" searchbase="dc=example,dc=com" scope=sub attrs="*" s

[2021-10-08 12:08] joeryan opened #337 "openldap::server::dbindex is missing documentation"
The class manifest for openldap::server::dbindex has a comment at the top to see README.md for information, but the README has no entry on adding indices to reference.

## Any additional information you'd like to impart
I'll work on a pull request to add this documentation if I can get it working myself.

[2021-10-08 17:28] smortex commented on #337
Thanks, the module need some work, especially on the documentation side.

[Puppet Strings](https://puppet.com/docs/puppet/7/puppet_strings.html) is I think the way to go in a future-proof way.  Thanks for your help!

[2021-10-08 17:30] smortex commented on #337
There is an example in the acceptance tests:
https://github.com/voxpupuli/puppet-openldap/blob/master/spec/acceptance/openldap__server__dbindex_spec.rb

I hope it helps!

[2021-10-08 19:24] #282 closed

[2021-10-08 19:24] #333 closed, assigned to nobody

[2021-10-20 14:41] madelaney opened #338 "Unable to configure openldap on FreeBSD 13.0-RELEASE"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.23.0
- Ruby: 2.7.3p183
- Distribution: FreeBSD 13.0-RELEASE
- Module version: 4.0.0

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
[code]

## What behaviour did you expect instead

I would expect the class to get applied.

## Output log

## Any additional information you'd like to impart

[2021-10-20 19:23] madelaney commented on #338
@smortex happy try it out. However, I should note the `echo` is a builtin command so I'm not sure what adding `/bin` to the path will do but I'm happy to be wrong here.

[2021-10-21 21:15] smortex commented on #338
Gave it a shot, more issues fixed… see #341 for all changes.

It allows to run your code with minimal change:

[code]

[2021-10-24 01:56] #338 closed

[2022-01-18 16:31] Donatien26 opened #345 ":bug: Wrong limits type"
In manifest/server/database.pp limits must be an Optional[String[1]] but if we look at olc.rb in lib/puppet/provider/openldap_database, limits is expected to be a array of string.

Actually we have

[code]

with limits define like this :

[code]

But it's impossible to add multiple limits, because it's not an array.

Limits should be like this

[code]

[2022-01-24 18:59] #345 closed

[2022-01-25 07:56] #294 closed

[2022-02-25 12:03] dabelenda opened #352 "LDIF mangling is in schema provider does not handle LDIF line wrapping correctly"
## Affected Puppet, Ruby, OS and module versions/distributions

- Module version: 5.0.1

## How to reproduce (e.g Puppet code you use)
When managing openldap schema with the module, having this definition
[code]
When applying to RHEL7.9 nodes with openldap 2.4.44-24.el7_9

## What are you seeing
Managing schema with the previous snippet results with this error:
[code]
Reading the LDIF present in t

[2022-02-25 12:14] dabelenda commented on #352
As a workaround I used the /etc/openldap/schema/cosine.schema file instead, since it is provided by Red Hat.

[2022-08-31 12:21] jomettler commented on #238
Since I had this exact error and this solution didn´t fix it:
This error can be caused by multiple things, thus its not so bad that the error message keeps things vague. For me, AppArmor was causing the issue. Running in one terminal `aa-genprof slapd` (you might need to install `apparmor-utils` first) and running `puppet agent -t` in a second terminal, allowing the upcoming things for appamor fix

[2022-11-21 15:55] treydock opened #360 "Data type enforcement for openldap_database security is not idempotent"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7.12.1
- Ruby: whatever is in puppet-agent
- Distribution: RHEL7
- Module version: 5.0.1

## How to reproduce (e.g Puppet code you use)

Hiera added to openldap_database

[code]

## What are you seeing

Puppet changes to integers:

[code]

Puppet then wants to change again:

[code]

If I had to guess the slapcat parsing trea

[2022-11-21 19:17] treydock commented on #360
Looks like this was fixed in 5c036c084835e6bd134a682039f1b94c77700308 , just never released.

[2022-11-21 19:17] #360 closed